<div class="alert alert-danger" style="display:none">
   <ul>
   </ul>
</div>
<div class="row">
   <div class="col-lg-10 col-lg-offset-1" >
      <p style="font-size:30px;color:#187191;font-weight: bold">Editar Evento Live</p>
      <%= nested_form_for(@event) do |form| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
         <ul>
            <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <%if @type == "principal" || action_name == "new"%>
      <div class="row">
         <div class="col-md-8">
            <%= form.label "Fecha del Evento" %><br>
            <div class="form-group date_select">
               <%= form.datetime_select :event_date,{
                  :start_year =>
                  Time.now.year + 1,
                  :end_year => 1900,
                  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
                  :use_short_month => true,
                  :order => [:day, :month, :year]},
                  {:class => 'year form-control line1 required',
                  :id => 'event_date_event' , :title => "Es un Campo Obligatorio" }
                  %>
            </div>
         </div>
         <%if @state != "4" %>
         <div class="col-md-4">
            <div class="form-group">
               <%= form.label "Estado"%><br>
               <label class="radio-inline">
               <%= form.radio_button :state, 0, class: 'rb statec check1' %><span style = "">Campaña de espectativa</span>
               </label><br>
               <label class="radio-inline" style="margin-bottom:5px;">
               <%= form.radio_button :state, 1, class: 'rb statev check1' %><span style = "">En vivo</span>
               </label>
               <label class="radio-inline" style="margin-bottom:5px;">
               <%= form.radio_button :state, 4 , class: 'rb stateo check1' %><span style = "">Ondemant</span>
               </label>
            </div>
         </div>
         <%end%>
      </div>
      <br>
      <div class="row">
         <div class="col-md-5">
            <div class="form-group">
               <%= form.label "Nombre del Evento"%>
               <%= form.text_field :name, id: :event_name, class: "form form-control" %>
            </div>
         </div>
         <%if @state != "4" %>
         <div class="col-md-4" style="">
            <div class="form-group" >
               <%= form.label "Delay (segundos)" %>
               <%= form.text_field :delay, id: :delay, class: "form form-control" %>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group" >
               <%= form.label "Nombre del Streaming" %>
               <%= form.text_field :name_stream, id: :name_stream, class: "required form form-control" %>
            </div>
         </div>
         <%end%>
         <div class="col-md-7">
            <div class="form-group" style="margin-bottom:0px">
               <%= form.label "Descripcion" %>
               <%= form.text_area :description, id: :event_description, class: "form form-control" %>
            </div>
         </div>
         <div class="col-md-12">
            <br>
            <hr>
            <br>
         </div>
         <div class="col-md-6" style = "position: relative;top: 23px;">
            <label for="">Tipo</label><br>
            <label class="radio-inline">
            <%= form.radio_button :event_type, false, class: 'rb cksi check1' %><span style = "">Audio/Video</span>
            </label>
            <label class="radio-inline" style="margin-bottom:5px;">
            <%= form.radio_button :event_type, true, class: 'rb ckno check1' %><span style = "">Audio</span>
            </label>
            <br>
            <%if @state == "4"%>
            <%= form.file_field :video,  class: "form-control inputfilev" , id: 'file1', accept: "video/mp4"%>
            <label for="file1" ><i class="fa fa-video-camera fa1" aria-hidden="true" style="font-size: 20px;margin-right:0px;" > /</i> <i class="fa fa-volume-up fa1" aria-hidden="true" style="font-size: 22px" ></i>
            <span class="levidenciav" style = "margin-right:10px;">Adjuntar(.mp4-h264) </span> <%if @event.video.blank?   != true %>
            <br><%= form.check_box :remove_video %>
            <%= form.label "Eliminar", style: "color:red!important" %></label>
            <%end%>
            <%end%>
         </div>
         <div class="col-md-6" style = "position: relative;top: 23px;">
            <label class="radio-inline">
            <%= form.check_box :has_ppts, id:"toggle-ppt"%><span style = "margin-left:10px">¿Diapositivas?</span>
            </label>
            <br><br>
            <%= form.file_field :ppts,  class: "form-control inputfile" , id: 'file', accept: "application/pdf"%>
            <label for="file" ><i class="fa fa-desktop fa1" aria-hidden="true" style="font-size: 22px"></i>
            <span class="levidencia" style = "margin-right:10px;" >Adjuntar (.pdf) </span> <%if @event.ppts.blank?   != true %>
            <br><%= form.check_box :remove_ppts %>
            <%= form.label "Eliminar", style: "color:red!important" %></label>
            <%end%>
         </div>
      </div>
      <br>
      <!--<hr>-->
      <%end%><br>
      <div class="row" style = "">
       
         <hr>
         <div class="col-md-3" style = "position: relative;top: 23px;">
            <label class="radio-inline">
            <%= form.check_box :has_register, id:"toggle-register"%><span style = "margin-left:10px">¿Registro?</span>
            </label>
         </div>
         <div class="col-md-3" style = "position: relative;top: 23px;">
            <label class="radio-inline">
            <%= form.check_box :social, id:"toggle-social"%><span style = "margin-left:10px">¿Redes Sociales?</span>
            </label>
         </div>
           <div class="col-md-3"  style = "position: relative;top: 23px;">
            <label class="radio-inline">
            <%= form.check_box :has_chat, id:"toggle-chat"%><span style = "margin-left:10px">¿Chat?</span>
            </label>
         </div>
        
         <div class="col-md-3" style = "position: relative;top: 23px;">
            <label class="radio-inline">
            <%= form.check_box :root_event, id:"toggle-root"%><span style = "margin-left:10px">¿Evento Principal?</span>
            </label>

      </div>
        </div>
      <br><br>
      <% @type == "principal" && action_name != "new" ? display1 = "" : display1 = "display:none;"  %>
      <% @state == "" ? display2 = "display:none;" : display2 = ""  %>
      <br>
      <hr>
      <div class="row">
         <%if  @state != "4" %>
         <div class="col-md-3" style="">
            <div class="form-group" >
               <%= form.label "Video para campaña" %>
               <%= form.file_field :video_p, id: :video_p, class: "form form-control" %>
            </div>
         </div>
         <%end%>
         <div class="col-md-3" style="<">
            <div class="form-group" >
               <%= form.label "Nombre para URL" %>
               <%= form.text_field :link, id: :link, class: "form form-control" %>
            </div>
         </div>
         <div class="col-md-3" style="">
            <div class="form-group" >
               <%= form.label "Color del Streaming" %>
               <%= form.color_field :color, id: :color, class: "form form-control" %>
            </div>
         </div>
         <div class="col-md-3" style="">
            <div class="form-group" >
               <%= form.label "Color Font" %>
               <%= form.color_field :backgroud_font, id: :backgroud_font, class: "form form-control" %>
            </div>
         </div>
         <!--<div class="col-md-3" style="">
            <div class="form-group" >
               <%= form.label "Tamaño Font" %>
               <%= form.number_field :font_size, id: :font_size, class: "form form-control" %>
            </div>
            </div>-->
        
       
         <!--  <div class="col-md-4" style="">
            <div class="form-group" >
               <%= form.label "iframe" %>
               <%= form.text_field :iframe, id: :video_iframe, class: "form form-control" %>
            </div>
            </div>-->
      </div>
      <br>
      <hr>
      <div class="row" >
         <div class="col-lg-8" style ="background:whitesmoke">
            <br>
            <div class="form-group acc1">
               <label class="radio-inline">
               <%= form.check_box :has_files, id:"toggle-eleven"%><span style = "margin-left:10px;font-size:20px;">¿ Mostrar Documentos ?</span>
               </label>
            </div>
            <br>
            <%= form.fields_for :event_files do |contact|  %>
            <div class="clearfix" style="margin-bottom: 30px;">
               <div class="col-md-12" >
                  <div class="col-md-1" ><br>
                     <%= contact.link_to_remove do %>
                     <i style = "    color: #e74b09;
                        font-size: 28px;
                        margin-left: 0px;
                        position: relative;
                        left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
                     <% end %>
                  </div>
                  <div class="col-md-5 pdd" style="text-align: left" >
                     <%= contact.label "Nombre" %>
                     <%= contact.text_field :name, :class => 'form-control' %>
                  </div>
                  <div class="col-md-6 pdd" style="text-align: left" >
                     <%= contact.label "Archivo" %>
                     <%= contact.file_field :attachment, :class => 'form-control' %>
                  </div>
                  <%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
                  <%= contact.hidden_field :user_id ,:value =>  current_user.id %>
                  <%= contact.hidden_field :account_id, :value => @account.id %>
               </div>
            </div>
            <%end%>
            <div class="col-md-12" style="    text-align: right;
               margin-bottom: 25px;">
               <%= form.link_to_add "Agregar Documento", :event_files, :class => 'btn btn-primary top10'  %>
            </div>
         </div>
         <div class="col-md-12">
            <hr>
            <br>
         </div>
         <div class="col-lg-8" style=" background:whitesmoke">
            <br>
            <div class="form-group acc1">
               <label class="radio-inline">
               <%= form.check_box :has_question, id:"toggle-ten"%><span style = "margin-left:10px;font-size:20px;">¿ Mostrar formulario de preguntas?</span>
               </label>
            </div>
            <br><br>
            <%= form.fields_for :ask_emails do |contact|  %>
            <div class="clearfix" style="margin-bottom: 30px;">
               <div class="col-md-12" >
                  <div class="col-md-1 pdd" ><br>
                     <%= contact.link_to_remove do %>
                     <i style = "    color: #e74b09;
                        font-size: 28px;
                        margin-left: 0px;
                        position: relative;
                        left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
                     <% end %>
                  </div>
                  <div class="col-md-5 pdd" style="text-align: left" >
                     <%= contact.label "Email"  %>
                     <%= contact.text_field :email, :class => 'form-control' %>
                  </div>
                  <div class="col-md-6 pdd" style="text-align: left" >
                     <%= contact.label "Cargo" %>
                     <%= contact.text_field :comment, :class => 'form-control' %>
                  </div>
                  <%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
                  <%= contact.hidden_field :user_id ,:value =>  current_user.id %>
                  <%= contact.hidden_field :account_id, :value => @account.id %>
               </div>
            </div>
            <%end%>
            <div class="col-md-12" style="    text-align: right;
               margin-bottom: 25px;">
               <%= form.link_to_add "Agregar Destinatario de preguntas", :ask_emails, :class => 'btn btn-primary top10'  %>
            </div>
         </div>
      </div>
      <%if action_name != "edit"%>
      <%= form.hidden_field :account_id, :value => @account.id %>
      <%= form.hidden_field :admin_user,:value => current_user.admin_user %>
      <%= form.hidden_field :user_id,:value => current_user.id %>
      <%= form.hidden_field :state,:value => @state %>
      <%= form.hidden_field :ultimate_ppt, :value => 1 %>
      <%= form.hidden_field :views, :value => 0 %>
      <%end%>
      <br>
      <hr>
      <%= form.submit "Guardar" , class: "btn btn-primary" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <% end %>
   </div>
</div>
<script>
   if ("<%=action_name%>" == "edit" && <%= @event.ppts.blank?  %> != true)
   {
   $('.levidencia').html(" <%=@event.ppts.file.filename if @event.ppts.file %> ")
   
   }
    if ("<%=action_name%>" == "edit" && <%= @event.video.blank?  %> != true)
   {
   $('.levidenciav').html(" <%=@event.video.file.filename if @event.video.file %> ")
   
   }
   
    if ("<%=action_name%>" != "edit")
   {
   $('.cksi').prop('checked', true);
   $('.ckno').prop('checked', false);
   $('.dia').prop('checked', true);
   $('.nodia').prop('checked', false);
   $('.regsi').prop('checked', false);
   $('.regno').prop('checked', true);
   $('.rootsi').prop('checked', true);
   $('.rootno').prop('checked', false);
   $('.redsi').prop('checked', false);
   $('.redno').prop('checked', true);
   if ("<%=@state%>" == "4")
    {
        $('.stateo').prop('checked', true);
    }
    else
   
    {
      $('.statec').prop('checked', true);
    }
   
   $('.docsi').prop('checked', false);
   $('.docno').prop('checked', true);
   $('.regsi').prop('checked', false);
   $('.regno').prop('checked', true);
   }
   
   
   
   'use strict';
   
   ;( function ( document, window, index )
   {
     var inputs = document.querySelectorAll( '.inputfile' );
     Array.prototype.forEach.call( inputs, function( input )
     {
       var label  = input.nextElementSibling,
         labelVal = label.innerHTML;
   
       input.addEventListener( 'change', function( e )
       {
         var fileName = '';
         if( this.files && this.files.length > 1 )
           fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
         else
           fileName = e.target.value.split( '\\' ).pop();
   
         if( fileName )
           label.querySelector( 'span' ).innerHTML = fileName;
         else
           label.innerHTML = labelVal;
       });
   
       // Firefox bug fix
       input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
       input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
     });
   }( document, window, 0 ));
   
   
      'use strict';
   
   ;( function ( document, window, index )
   {
     var inputs = document.querySelectorAll( '.inputfilev' );
     Array.prototype.forEach.call( inputs, function( input )
     {
       var label  = input.nextElementSibling,
         labelVal = label.innerHTML;
   
       input.addEventListener( 'change', function( e )
       {
         var fileName = '';
         if( this.files && this.files.length > 1 )
           fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
         else
           fileName = e.target.value.split( '\\' ).pop();
   
         if( fileName )
           label.querySelector( 'span' ).innerHTML = fileName;
         else
           label.innerHTML = labelVal;
       });
   
       // Firefox bug fix
       input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
       input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
     });
   }( document, window, 0 ));
   
</script>
<style>
   .inputfile {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
   }
   .inputfile + label {
   font-size: 1em;
   border: 1px solid #d0d0d0;
   border-radius: 5px;
   font-weight: 100!important;
   color: white;
   background-color: #f9f9f9;
   padding: 4px 20px;
   display: inline-block;
   border-bottom: 2px solid gray;
   margin-left: 10px;
   }
   .inputfile:focus + label,
   .inputfile + label:hover {
   }
   .inputfile + label {
   cursor: pointer; /* "hand" cursor */
   }
   .inputfile:focus + label {
   outline: 1px dotted #000;
   outline: -webkit-focus-ring-color auto 5px;
   }
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
   }
   .busqueda
   {
   display: block;
   padding: 10px;
   background: #e8e8e8;
   }
   .inputfilev {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
   }
   .inputfilev + label {
   font-size: 1em;
   border: 1px solid #d0d0d0;
   border-radius: 5px;
   font-weight: 100!important;
   color: white;
   background-color: #f9f9f9;
   padding: 4px 20px;
   display: inline-block;
   border-bottom: 2px solid gray;
   margin-left: 10px;
   }
   .inputfilev:focus + label,
   .inputfilev + label:hover {
   }
   .inputfilev + label {
   cursor: pointer; /* "hand" cursor */
   }
   .inputfilev:focus + label {
   outline: 1px dotted #000;
   outline: -webkit-focus-ring-color auto 5px;
   }
   .fa1
   {
   color: #2083de;
   }
   .modal-body1 {
   position: relative;
   padding: 15px 40px;
   }
   .modal-content
   {
   border-left: 5px solid #2083de;
   border-right: 5px solid #2083de;
   }
</style>