
<div class="container content">




<%if @events_plc != 0 %>
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators --> 
      <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides --> 
      <div class="carousel-inner">
         <div class="item active">
            <div class="row">
               <div class="col-xs-12">
                  <div class="thumbnail adjust1">
               
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="caption">
                           <p class="text-info lead adjust2" style="color:white"><%=@events_first.state == 1 ? "TE ESTAS PERDIENDO" : "PROXIMAMENTE"%> </p>
                           <p style="color:<%=@account1.color_one%>"> <i class="fa fa-video-camera" style = "font-size:30px;margin-right:  10px;" aria-hidden="true"></i><%=@events_first.state == 1 ? "EN VIVO" : "EN CAMPAÑA DE ESPECTATIVA"%></p>
                           <blockquote class="adjust2">
                              <p style="color:white;font-size:25px"><%=@events_first.name.upcase%> <br> <%= get_date(@events_first.event_date) if @events_first.state != 1%></p>
                              <small><cite title="Source Title" style="font-size: 20px;"></i><%=@account1.name%></cite></small> 
                              <br>
                              <a href="/<%=@events_first.link%>" style = "background:<%=@account1.color_one%> !important;border:1px solid <%=@account1.color_one%>" target="_blank" class="btn btn-primary">IR AL EVENTO</a>
                           </blockquote>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%@events_seconds.each do |event| %>
             <div class="item">
            <div class="row">
               <div class="col-xs-12">
                  <div class="thumbnail adjust1">
               
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="caption">
                           <p class="text-info lead adjust2" style="color:white"><%=event.state == 1 ? "TE ESTAS PERDIENDO" : "PROXIMAMENTE"%></p>
                           <p style="color:<%=@account1.color_one%>"> <i class="fa fa-video-camera" style = "font-size:30px;margin-right:  10px;" aria-hidden="true"></i><%=event.state == 1 ? "EN VIVO" : "EN CAMPAÑA DE ESPECTATIVA"%></p>
                           <blockquote class="adjust2">
                              <p style="color:white;font-size:25px"><%=event.name.upcase%> <br><%= get_date(@events_first.event_date) if event.state != 1%></p>
                              <small><cite title="Source Title" style="font-size: 20px;"></i><%=@account1.name%></cite></small> 
                              <br>
                              <a href="/<%=event.link%>" style = "background:<%=@account1.color_one%> !important;border:1px solid <%=@account1.color_one%>" target="_blank" class="btn btn-primary">IR AL EVENTO</a>
                           </blockquote>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <%end%>
         <!--<div class="item">
            <div class="row">
               <div class="col-xs-12">
                  <div class="thumbnail adjust1">
                     <div class="col-md-12 col-sm-12 col-xs-12">    
                        <div class="caption">
                           <p class="text-info lead adjust2">I can't wait to test this out.</p>
                           <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                           <blockquote class="adjust2">
                              <p>Abhijit Goswami</p>
                              <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example2.com</cite></small> 
                           </blockquote>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="row">
               <div class="col-xs-12">
                  <div class="thumbnail adjust1">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="caption">
                           <p class="text-info lead adjust2">I can't wait to test this out.</p>
                           <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                           <blockquote class="adjust2">
                              <p>Abhijit Goswami</p>
                              <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example3.com</cite></small> 
                           </blockquote>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>-->
      <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> 
   </div>
   <%else%>
   <div class="row" style="height: 380px">

      <div class="col-md-12">
             <h1 style="text-align: center;margin-top: 110px;color: #e8e8e8;">EN EL MOMENTO NO HAY EVENTOS PROGRAMADOS <br> <span style="font-size:20px">PUEDES VER LA GALERIA DE VIDEOS</span><br> <br><a href="/portal" target="_blank" class="btn btn-primary">IR A GALERIA</a></h1>

      </div>
     
   </div>
     
   <%end%>
</div>



   
 <%if @events_plc != 0 %>
   

   <div style="width:90%;margin-left: 5%;">
        
       
    <div class="row" style="
    margin-top: 70px;">
            <div class="col-md-12 text-center">
                  <p><span style="padding: 10px;
                text-align: center;
                background: <%=@account1.color_one%>;
                color: white;
                width: 400px;
                padding: 5px 50px 20px 50px;
                margin: 0px;">ULTIMOS EVENTOS</span></p>
            </div>
     </div>  
   
  

  <div class="row" style="border-left: 10px solid <%=@account1.color_one%>;
    border-right: 10px solid <%=@account1.color_one%>;">
   
       
     
      <div class="row" style="background: #f6f6f6;border-left: 10px solid <%=@account1.color_one%>;
    border-right: 10px solid <%=@account1.color_one%>;"">
        
        
          
        
        <div class="col-md-6" style="padding:20px;">
            <div class="col-md-3 text-center">
                <p style="padding:10px; border:2px solid gray;color:#353535;font-weight:bold">MAR <br> Junio 2</p>
            </div>
            <div class="col-sm-9">
              <p><span style="color:#353535;font-weight: bold;font-style: italic">Informe de Gestion del Alcalde</span> <br> <span style="font-style:none !important">Martes 12 de junio de 2018</span></p>
            </div>
         </div>

        <div class="col-md-6" style="padding:20px;">
            <div class="col-md-3 text-center">
                <p style="padding:10px; border:2px solid gray;color:#353535;font-weight:bold">MIE <br> Junio 2</p>
            </div>
            <div class="col-sm-9">
              <p><span style="color:#353535;font-weight: bold;font-style: italic">Inaguracion Juegos Departamentales</span> <br> <span style="font-style:none !important">Miercoles 13 de junio de 2018</span></p>
            </div>
         </div>

        </div>

        <div class="row" style="background: #f6f6f6;border-left: 10px solid <%=@account1.color_one%>;
    border-right: 10px solid <%=@account1.color_one%>;">
               
           <div class="col-md-6" style="padding:20px;">
                <div class="col-md-3 text-center">
                    <p style="padding:10px; border:2px solid gray;color:#353535;font-weight:bold">JUE <br> Junio 2</p>
                </div>
                <div class="col-sm-9">
                  <p><span style="color:#353535;font-weight: bold;font-style: italic">Presentacion POT Apartado</span> <br> <span style="font-style:none !important">Jueves 14 de junio de 2018</span></p>
                </div>
            </div>

            <div class="col-md-6" style="padding:20px;">
                <div class="col-md-3 text-center">
                    <p style="padding:10px; border:2px solid gray;color:#353535;font-weight:bold">VIE <br> Junio 2</p>
                </div>
                <div class="col-sm-9">
                  <p><span style="color:#353535;font-weight: bold;font-style: italic">Inaguracion fiestas de Apartado</span> <br> <span style="font-style:none !important">Viernes 15 de junio de 2018</span></p>
                </div>
            </div>

        </div>
        
</div>  

<%end%>
     </div>
   




</div>







<style>


.col-md-11, .col-md-1,.col-md-2,.col-md-10 
{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
  .carousel-indicators .active{ background: #31708f; } .content{ margin-top:20px; } 
  .adjust1{
   float:left; width:100%; margin-bottom:0;height: 350px;
   }
  .adjust2{ margin:0; } .carousel-indicators li{ border :1px solid #ccc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }

  .active
  {
    background: none !important;
  }
  
  .thumbnail .caption {
    padding: 50px;
    
}
  .thumbnail {
     
     border: none;
     background-color: rgba(26, 26, 26, 0);
    
}
.thumbnail:hover {

     background-color: rgba(26, 26, 26, 1);
    
}
.adjust1:hover{

   background-color: rgba(26, 26, 26, 1);
 }

 .hoever {
{ 
   background-color: blue !important;
}
</style>