<% edate = get_date_array(@event.event_date)%>
<div class="container event-info">
   <div class="row" >
      <div class="col-md-4 fecha-info">
         <div class="col-md-6 text-right" style="color:#00ccff;border-right: 1px solid white;    margin-top: 20px;margin-bottom:0px">
            <h3><%=edate[2]%> <br><%=edate[5]%> </h3>
         </div>
         <div class="col-md-6" >
            <h3 style="color:#00ccff;font-size: 100px;margin-top:0px;font-family: sans-serif;"><%=edate[0]%></h3>
         </div>
      </div>
      <div class="col-md-8">
         <h3><%=@event.name%></h3>
         <h4><%=@event.description%></h4>
         <h4><strong>Estado: <%=get_state_event(@event.state)%>

         </strong></h4>
      </div>
      <div class="col-md-12">
         <hr>
      </div>
   </div>
   <div class="row">
     <div class="col-md-4 cuadro">
       <p style="text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #1c8bb3;
">GRABACION</p><br>
       <p style="text-align:center">
         <button style = "margin-left:10px;width:150px;" type="" id = "record" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true" style = "font-size:30px;color:darkgreen"></span> <br>Iniciar</button>
         <button style = "margin-left:10px;width:150px;" type="" id = "stop_record" class="btn btn-default"><span class="glyphicon glyphicon-stop" aria-hidden="true" style = "font-size:30px;color:red"></span> <br>Terminar</button> <br><br>
      </p>
      <p style="text-align:center">
       <button style = "margin-left:10px;width:150px;" type="" id = "publicar" class="btn btn-default"><i class="fa fa-cloud-upload" aria-hidden="true" style = "font-size:30px;"></i><br> Publicar</button>
      </p>
     </div>

     <div class="col-md-4 cuadro">
       <p style="text-align: center; font-size: 25px;font-weight: bold; color: #1c8bb3;">ESTADO DEL STREAMING</p><br>
       <p style="text-align:center">
         <button style = "margin-left:10px;width:150px;" type="" id = "camp" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style = "font-size:30px;"></span> <br>Campaña</button>
        <button style = "margin-left:10px;width:150px;" type="" id = "prox" class="btn btn-default"><span class="glyphicon glyphicon-time" aria-hidden="true" style = "font-size:30px;"></span> <br>Proximo a Iniciar</button><br><br>
         <button style = "margin-left:10px;width:150px;" type="" id = "live" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style = "font-size:30px;"></span> <br>En vivo</button>
      </p>

     </div>

     <div class="col-md-4 cuadro">
     <p style="text-align: center; font-size: 25px;font-weight: bold; color: #1c8bb3;">Mensaje en vivo</p>
       <%= form_tag cardinalmsg_path, method: :get, remote:true do %>
     <%= text_area_tag :msg , nil, class:"form form-control" %><br>
     <%= hidden_field_tag :id , @event.id%>
     <%= submit_tag "Enviar" , class: "btn btn-primary btn-block"%>
  <%end%>
     </div>
   </div>

   <div class="row" style="display:none" >
      <div class="col-md-3">
         <h4>Tipo: <%= get_event_type_s(@event.event_type)%> <%= get_event_type(@event.event_type).html_safe%></h4>
      </div>
      <div class="col-md-3">
         <h4>Diapositivas: <span style="font-size:20px;font-weight: bold"><%= get_ppts(@event.has_ppts)%></span></h4>
         <%= link_to "Ver Diapositivas", @event.ppts_url if @event.ppts_url%>
      </div>
      <div class="col-md-3">
         <h4>Solicitud de Registro: <span style="font-size:20px;font-weight: bold"><%= get_ppts(@event.has_register)%></span></h4>
      </div>
      <div class="col-md-3">
         <h4>Evento Principal: <span style="font-size:20px;font-weight: bold"> <%= get_ppts(@event.root_event)%></span></h4>
      </div>
      <div class="col-md-12">
         <hr>
      </div>
   </div>
   <div class="row" style="display: none;" >
      <div class="col-md-4">
         <h4>Redes Sociales: <span style="font-size:20px;font-weight: bold"> <%= get_ppts(@event.social)%></span></h4>
         <p style = "color:#187191;font-weight:bold">Links</p>
         <%= @account.facebook%><br>
         <%= @account.twitter%><br>
         <%= @account.instagram%><br>
         <%= @account.linkedin%><br>
      </div>
      <div class="col-md-4">
         <h4>Documentos: <span style="font-size:20px;font-weight: bold"> <%= get_ppts(@event.has_files)%></span></h4>
         <p style = "color:#187191;font-weight:bold">Descargables</p>
         <% @event.event_files.each do |file|%>
         <%= file.name%>(<%= link_to "Descargar", file.attachment_url if file.attachment_url%>)<br>
         <%end%>
      </div>
      <div class="col-md-4">
         <h4>Formulario de Preguntas: <span style="font-size:20px;font-weight: bold"> <%= get_ppts(@event.has_question)%></span></h4>
         <p style = "color:#187191;font-weight:bold">Emails para recibir preguntas</p>
         <% @event.ask_emails.each do |email|%>
         <%= email.email%><br>
         <%end%>
      </div>
   </div>
   <br>
    <div class="row" >

</div>

<div class="row" style="display:none">

   <%=link_to "Ambos", change_view_path("ambos"), remote: true%>
   <%=link_to "Video", change_view_path("video"),remote: true%>
   <%=link_to "PPT", change_view_path("ppt"),remote: true%>

</div>
<style>
   .event-info
   {
   color:gray;
   }
   .fecha-info
   {
   border-right: 1px solid gray;
   }
</style>


<script>

$('#record').click(function() {

        $.get("record_live/" + <%=@event.id%>, function(data) {

        })
      });

$('#publicar').click(function() {

        $.get("public_live/" + <%=@event.id%>, function(data) {
              window.location.href = "/portal_show/<%=@event.id%>";
        })
      });
$('#stop_record').click(function() {

              $.get("stop_record_live/" + <%=@event.id%>, function(data) {
                console.log(data)

              })
            });
$('#camp').click(function() {

              $.get("cardinal_state/camp/" + <%=@event.id%>, function(data) {

              })
            });
$('#prox').click(function() {

                    $.get("cardinal_state/prox/" + <%=@event.id%>, function(data) {

                    })
                  });
$('#live').click(function() {

                          $.get("cardinal_state/live/" + <%=@event.id%>, function(data) {

                          })
                        });

</script>
<style media="screen">
.btn-success {
  color: #fff;
  background-color: #2b9e65;
  border-color: #1b911b;
}
.cuadro
{
background: #f4f4f4;
border: 1px solid #83d0f6;
padding: 20px;
height: 260px;
}
</style>
