<div class="container">
   
   <%=render "tabs"%>
   <br>
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Todos los Eventos <span class="label label-primary"><%=@events.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @events, :entry_name => 'Eventos' %></span> </p>
         </div>
         <div class = "col-md-6 paginate text-left title-table1">
            <%= will_paginate @events%>
         </div>
         <div class = "col-md-12 text-right">
            <%= link_to new_event_path(0), remote: true,class: "btn btn-primary" do %>
            <i class="fa fa-video-camera" style = "font-size:30px;" aria-hidden="true"></i>
            Live
            <%end%>

         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
                  <th>Opciones</th>
                  <th>Fecha del Evento</th>
                  <th>Nombre</th>
                  <th>Streaming</th>
                  <th>Tipo</th>
                  <th>Principal</th>
                  <th>Video</th>
                  <th>Ppts</th>
                  <th></th>
                   <th></th>
            </thead>
            <tbody>
               <% @events.each do |event| %>
               <tr>
                  <td>
                     <div class="dropdown">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                           <li><%= link_to  ppts_views_path(event), remote:true do%>
                              <i class="fa fa-television fa1" aria-hidden="true"></i>
                              Configurar diapositivas
                              <%end%>
                           </li>
                           <li><%= link_to  event, target: :_blank  do%>
                              <i class="fa fa-eye fa1" aria-hidden="true"></i>
                              Transmitir Diapositivas
                              <%end%>
                           </li>
                           <li><%= link_to  edit_more_path(event, "principal"), remote:true  do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Editar
                              <%end%>
                           </li>
                          
                            <li><%= link_to  edit_more_path(event, "adicional"), remote:true  do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Configuracion adicional del evento
                              <%end%>
                           </li>
                           <li><%= link_to  event_info_path(event) do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Informacion General
                              <%end%>
                           </li>
                            <li>
                           <a data-toggle="modal" id = "<%=event.iframe%>" class = "modal-links" href="#myModal-links"><i class="fa fa-pencil fa1" aria-hidden="true"></i>Iframe</a>
                           </li>
                           <li><%= link_to  event, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                              <i class="fa fa-trash fa1" aria-hidden="true"></i>
                              Eliminar
                              <%end%>
                           </li>
                        </ul>
                     </div>
                  </td>
                  <td ><%= get_date(event.event_date) %></td>
                  <td><%= event.name %></td>
                  <td><%= event.state != 4 ? "Live" : "Ondemand" %></td>
                  <td style = "font-size:20px"><%= get_event_type(event.event_type).html_safe %></td>
                  <td class=""><%= get_state(event.root_event).html_safe %></td>
                  <td class=""><%= get_aov(event.video_url).html_safe  %></td>
                  <td class=""><%= get_aov(event.ppts_url).html_safe %></td>
                  <td> <%= link_to "Ver", portal_show_path( event.id), class: "btn btn-primary"%></td>
                  <td> <%= link_to "Ver", real_time_stats_path( event.id), class: "btn btn-primary"%></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>
<%= render "links"%>
<style>
   .fa1
   {
   margin-bottom: 10px;
   margin-right: 10px;
   font-size: 15px;  
   }
</style>

<script>
   $('.modal-links').click(function(){
      $('.iframe').val("http://" + "<%=request.subdomain%>" + ".www.localhost:3000/iframe/" + $(this).attr("id"))


   })
</script>
<style href= "../../css/offline-language-spanish.css"> </style>
<style href= "../../css/offline-theme-default.css">
   
</style>
<script src = "../../javascripts/offline.js" ></script>
<div class="overmssgoffline" style = "display:none">
   
</div>
<style type="text/css" media="screen">
.overmssgoffline
{
   display: block;
   padding-left: 10px;
   background: #f5f9bb;
   color:#2b2b2b;
   font-size: 16px;
}
   
</style>

<script>
   
      var lkt = 0, upin;
      //var myPlayer = WowzaPlayer.get('playerElement');
      //Offline.options = {checks: {xhr: {url: '/'}}};
      
      Offline.on('confirmed-down', function () {
           
            console.log("offfffffffffff1111111111111111");
            //myPlayer.pause();
      });
   
      Offline.on('confirmed-up', function () {
            $('.overmssgoffline').fadeOut();
            console.log("onnnnnnnnnnnnnnnnnn1111111111111111111");
      });
      
      Offline.on('down', function () {
         
         console.log("offffffffffff2f22222222222");
      });
      
      Offline.on('up', function () {
         //myPlayer.play();
         console.log("onnnnnnnnnnnnnnnnnn222222222222222");
         
      });
      
      
      setInterval(function(){
         Offline.check();
         console.log("interval");
     
      }, 3000);
   </script>