<div class="container">
   <div class = "row title-table">
         <div class = "col-md-6">
            <p style="font-size:32px;color:#187191">Eventos</p>
         </div>
         <div class = "col-md-6 text-right">
           <%if current_user.rol.create_event && current_user.rol.admin_live %>
            <%= link_to new_event_path(0),class: "btn btn-primary" do %>
            <i class="fa fa-video-camera" style = "font-size:30px;" aria-hidden="true"></i>
            Live
            <%end%>
           
           <%end%> 
         </div>
   
      </div>
   <%=render "tabs"%>
   <br>


   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Eventos Live <span class="label label-primary"><%=@events.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @events, :entry_name => 'Eventos' %></span> </p>
         </div>
         <div class = "col-md-6 paginate text-left title-table1">
            <%= will_paginate @events%>
         </div>
         
      </div>

       <%if current_user.rol.admin_live %>
      <hr class="hr">
      <div class = "row">

         <table class="table table-striped">
            <thead>
               <tr class = "tr-table">
                  <th>ACCIONES</th>
                  <th>FECHA DEL EVENTO</th>
                  <th>NOMBRE</th>
                  <th>STREAMING</th>
                  <th>TIPO</th>
                
                
                  <th>PPTS</th>
                  <th>ROOT</th>
                  <th></th>
                 
            </thead>
            <tbody>
               <% @events.each do |event| %>
               <tr>
                  <td>
                     <div class="dropdown">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                          
                                 <%if current_user.rol.edit_event  %>
                           <li><%= link_to  edit_more_path(event, "principal")  do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Editar
                              <%end%>
                           </li>
                           <%end%>
                           
                           <li><%= link_to  event, target: :_blank  do%>
                              <i class="fa fa-eye fa1" aria-hidden="true"></i>
                              Transmitir Diapositivas
                              <%end%>
                           </li>


                            <li><%= link_to  show_admin_path(event.id), target: :_blank  do%>
                               <i class="fa fa-address-card fa1"></i>
                              Administrar Evento
                       
                              <%end%>
                           </li>
                     
                      
                          
                         <!--    <li><%= link_to  edit_more_path(event, "adicional"), remote:true  do%>
                              <i class="fa fa-cog fa1" aria-hidden="true"></i>
                              Configuracion adicional del evento
                              <%end%>
                           </li>
                           
                            
                           <li><%= link_to  event_info_path(event), target: :_blank   do%>
                            
                             
                              <i class="fa fa-address-card fa1"></i>
                              Administrar Evento
                       
                              <%end%>
                           </li>-->
                           
                            <li>
                           <a data-toggle="modal" ids = "<%=event.id%>" id = "<%=event.iframe%>" class = "modal-links" href="#myModal-links"><i class="fa fa-television fa1" aria-hidden="true"></i>Iframe y link para comartir</a>
                           </li>
                           <%if event.state != 4%>
                             <li><%= link_to  real_time_stats_path( event.id), target: :_blank    do%>
                              <i class="fa fa-bar-chart fa1" aria-hidden="true"></i>
                              Datos y Estadisticas
                              <%end%>
                           </li>
                           <%end%>
                            <%if current_user.rol.delete_event  %>
                           <li><%= link_to  event, method: :delete, data: { confirm: '¿Esta seguro de eliminar?' }  do%>
                              <i class="fa fa-trash fa1" aria-hidden="true"></i>
                              Eliminar
                              <%end%>
                           </li>
                           <%end%>
                        </ul>
                     </div>
                  </td>
                  <td class="text-center"><i class="fa fa-calendar" style="font-size:20px"></i><br><%= get_date(event.event_date) %></td>
                  <td><%= event.name.upcase %></td>
                  <td><%= (event.state != 4 ? "Live" : "Ondemand").upcase %></td>
                  <td style = "font-size:20px"><%= get_event_type(event.event_type).html_safe %></td>
                  
                  
                  <td class=""><%= get_aov(event.ppts_url).html_safe %></td>
                   <td class=""><%= get_state(event.root_event).html_safe %></td>
                  <td> <%= link_to "Ver", portal_show_path( event.id), data: { turbolinks: false }, class: "btn btn-primary"%></td>
                  
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
  
   <%else%>
   <div class="row">
         <div class="col-md-8 col-md-offset-2">
               <h2 class="mensaje_acceso">¡ NO TIENES ACCESO A ESTA INFORMACION !</h2>
         </div>   
   </div>
      
   

   <%end%>
    </div>
</div>


<%= render "links"%>
<style>
   .fa1
   {
   margin-bottom: 10px;
   margin-right: 10px;
   font-size: 15px;  
   }
   .mensaje_acceso
   {
    background: #e0e0e0;
    padding: 40px;
    color: gray;
    border-radius: 7px;
   }
</style>
<script>
   $('.modal-links').click(function(){
      $('.iframe').val("<iframe width='1024' height='768' src='http://<%=request.subdomain%>.cardinalstream.com/" +  $(this).attr('id') + "'" + "></iframe>")

      $('.link1').val("http://<%=request.subdomain%>.cardinalstream.com/portal_show/" + $(this).attr('ids'))
   })
</script>

