<div class="container">
   <div class = "row title-table">
         <div class = "col-md-12">
            <p style="font-size:40px;color:#187191">Eventos</p>
         </div>
   
      </div>
   <%=render "tabs"%>
   <br>
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Todos los Eventos <span class="label label-primary"><%=@events.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @events, :entry_name => 'Eventos' %></span> </p>
         </div>
         <div class = "col-md-6 paginate text-left title-table1">
            <%= will_paginate @events%>
         </div>
         <div class = "col-md-12 text-right">
            <%= link_to new_event_path(0), remote: true,class: "btn btn-primary" do %>
            <i class="fa fa-video-camera" style = "font-size:30px;" aria-hidden="true"></i>
            Live
            <%end%>
            <%= link_to new_event_path(4), remote: true, class: "btn btn-primary" do %>
            <i class="fa fa-hdd-o" style = "font-size:30px;" aria-hidden="true"></i>
            Ondemand
            <%end%>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
                  <th>Opciones</th>
                  <th>Fecha del Evento</th>
                  <th>Nombre</th>
                  <th>Streaming</th>
                  <th>Tipo</th>
                
                  <th>Video</th>
                  <th>Ppts</th>
                  <th></th>
                   <th></th>
            </thead>
            <tbody>
               <% @events.each do |event| %>
               <tr>
                  <td>
                     <div class="dropdown">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                           <li><%= link_to  ppts_views_path(event), remote:true do%>
                              <i class="fa fa-television fa1" aria-hidden="true"></i>
                              Configurar diapositivas
                              <%end%>
                           </li>
                           <%if event.state != 4%>
                           <li><%= link_to  event, target: :_blank  do%>
                              <i class="fa fa-eye fa1" aria-hidden="true"></i>
                              Transmitir Diapositivas
                              <%end%>
                           </li>
                           <%end%>
                           <li><%= link_to  edit_more_path(event, "principal")  do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Editar
                              <%end%>
                           </li>
                          
                         <!--    <li><%= link_to  edit_more_path(event, "adicional"), remote:true  do%>
                              <i class="fa fa-cog fa1" aria-hidden="true"></i>
                              Configuracion adicional del evento
                              <%end%>
                           </li>-->
                           
                            <%if event.state != 4%>
                           <li><%= link_to  event_info_path(event) do%>
                              <i class="fa fa-pencil fa1" aria-hidden="true"></i>
                              Informacion General
                              <%end%>
                           </li>
                            <%end%>
                            <li>
                           <a data-toggle="modal" ids = "<%=event.id%>" id = "<%=event.iframe%>" class = "modal-links" href="#myModal-links"><i class="fa fa-television fa1" aria-hidden="true"></i>Iframe y link para comartir</a>
                           </li>
                           <li><%= link_to  event, method: :delete, data: { confirm: '¿Esta seguro de eliminar?' }  do%>
                              <i class="fa fa-trash fa1" aria-hidden="true"></i>
                              Eliminar
                              <%end%>
                           </li>
                        </ul>
                     </div>
                  </td>
                  <td ><%= get_date(event.event_date) %></td>
                  <td><%= event.name %></td>
                  <td><%= event.state != 4 ? "Live" : "Ondemand" %></td>
                  <td style = "font-size:20px"><%= get_event_type(event.event_type).html_safe %></td>
                   <!--<td class=""><%= get_state(event.root_event).html_safe %></td>-->
                  <td class=""><%= get_aov(event.video_url).html_safe  %></td>
                  <td class=""><%= get_aov(event.ppts_url).html_safe %></td>
                  <td> <%= link_to "Ver", portal_show_path( event.id), data: { turbolinks: false }, class: "btn btn-primary"%></td>
                  <%if event.state != 4%> <td> <%= link_to "Ver", real_time_stats_path( event.id), class: "btn btn-primary"%></td><%end%>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>


<%= render "links"%>
<style>
   .fa1
   {
   margin-bottom: 10px;
   margin-right: 10px;
   font-size: 15px;  
   }
</style>
<script>
   $('.modal-links').click(function(){
      $('.iframe').val("<iframe width='1024' height='768' src='http://<%=request.subdomain%>.aletacloud.com/" +  $(this).attr('id') + "'" + "></iframe>")

      $('.link1').val("http://<%=request.subdomain%>.aletacloud.com/portal_show/" + $(this).attr('ids'))
   })
</script>

