<% edate = get_date_array(event.event_date)%>
<% up = event.ultimate_ppt + 1 %>
<div class="container-fluid">
  <div class="row">
  <div class="alert alert-warning alert-dismissible msg text-center" role="alert" style="position:absolute;z-index:10;
    background: #26a054;
    color: white;display:none;width:80%;margin-left:10%">
  <strong class="text-center" style = "width: 100%"></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
     <div class="col-md-12 blockhead ">
         <div class="col-md-2 logo text-center">
            <img src="<%=@account.logo_url%>" alt="">
         </div>
         <div class="col-md-6 name">
            <p style="    font-size: 20px;"><%= event.name.upcase%><br><span  class="hidden-xs hidden-sm" style="font-size: 15px;"><%=edate[0]%> DE <%=edate[2]%> DE <%=edate[4]%></span></p>
         </div>
         <div class="col-md-4 social hidden-sm hidden-xs">
            <div class="redessociales" style="float:right;padding:0 2em;line-height: 2em;background: none;right: -0.7em;font-size: 1.7em;padding: 0;padding-right: 1.7em;margin-bottom: -0.8em;margin-top: -0.46em;">
              <%if event.social%>

                <%if !@account.facebook.blank?%>
               <a href="<%=@account.facebook%>" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
               <%end%>
               <%if !@account.twitter.blank?%>
               <a href="<%=@account.twitter%>" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
               <%end%>
             <%if !@account.instagram.blank?%>
               <a href="<%=@account.instagram%>" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
               <%end%>
                <%if !@account.linkedin.blank?%>
               <a href="<%=@account.linkedin%>" target="_blank"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
               <%end%>
                 <%end%>
               <%= (link_to "Salir", logout_path(event.id), method: :delete, class: "viewer_salir") if event.has_register %>
             
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-5" style="
    padding-left: 0px;
    padding-right: 0px;">
          <div class="msg-inicio text-center">
                <span style="    background: <%=event.color%>;
    color: <%=event.backgroud_font%>;
    padding: 5px;
    
    position: relative;
    top: 25px;
    border-radius: 3px;">Has Click en  el Player para iniciar el Streaming</span>
          </div>
         <div id="playerElement" style="width:100%;height:0;padding:0 0 56.25% 0;margin-top:<%=event.has_question ? '30px' : '70px'%>">

         </div>
<%if event.has_question%>
         
         <div style="margin-top:5px">
         <div class="alert alert-info alert1 alert-info1" role="alert" style="margin-top:5px;    padding: 5px 20px;">
  <span class="hidden-xs hidden-sm" style="font-size: 10px;">Si en algún momento se para el video o se congela la imagen recarga el navegador</span>
</div>
            <div class="alert alert-info alert1 alert-info1" role="alert" style="margin-top:5px;    padding: 10px 20px;"><img class="hidden-xs hidden-sm" style="width: 40px;margin-right:10px" src="https://es.seaicons.com/wp-content/uploads/2016/03/question-faq-icon.png" alt="">
  <span class="hidden-xs hidden-sm">¿Tienes alguna duda? </span><a class="form-toggle" role="button" data-toggle="collapse" href="" aria-expanded="false" aria-controls="collapseExample" style="background: #3163b5;margin-left:20px;
    padding: 5px 17px;
    color: white;
    border-radius: 10px;">Click para preguntar</a>
</div>
        

</a></div>


         

         <div id="collapseExample1" class="col-md-12 collapse" style= "display:none;position:relative;top:-90px;z-index:10;padding: 9px;background: #313030;margin-top:0px">
            <%= form_tag create_question_path, method: :post, remote:true do%>
            <div class="col-md-6">
               <div class="form-group">
                  
                  <%= text_field_tag :name , nil, class: "form form-control", placeholder: "Nombre" %>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  
                  <%= text_field_tag :email , nil, class: "form form-control", placeholder: "Email" %>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                 
                  <%= text_area_tag :description ,nil, class: "form form-control erase", placeholder: "Pregunta" %>
               </div>
            </div>
            <%= hidden_field_tag :account_id , event.account_id%>
            <%= hidden_field_tag :event_id , event.id%>
             <%= hidden_field_tag :type , "video"%>

            <div class="col-md-12" >
               <%= submit_tag "Enviar", class: "btn btn-primary"%>
               <a  class="cerrar btn btn-default" type="" >Cerrar</a>           </div>
            <div class="col-md-9" >
               <div class="alert alert-success" style="margin-top:5px;display:none">
                  Tu pregunsta se envio con exito.
               </div>
            </div>
            <%end%>
         </div>
         <%end%>
      </div>
      <div class="col-md-7">
         <div class="backppt col-md-12 no-float">
        
            <div class="ppt-block">
               <div class="ppt_cont">
                  <div class="wrapppt" style="max-width: 555.4px; height: 416.55px; background: rgb(50, 50, 50);">
                     <div id="ppts" style="opacity: 1;">
                        <div id="controls">
                           <div class="nextbutt">&gt;</div>
                           <div class="prevbutt">&lt;</div>
                        </div>
                        <% if @event.ppts_url %>
                        <img class = "imagensup img-responsive" src="<%=array[event.ultimate_ppt]%>" style="height: auto;">
                        <%end%>
                     </div>
                  </div>
               </div>
            </div>
                 
            <style>.wrapppt{max-width:100%!important;background:none!important;height:auto!important;}#ppts{float:none!important;margin:auto;}#scrollbar1{width:100%}</style>
            <div class="right-bar hidden-sm hidden-xs">
               <div class="roundbutton fullppt fullbuttonppt">
                  <div class="col-md-4 fa fa-expand fa-2x"></div>
               </div>
                          <!-- class="roundbutton zoom1">
              <div class="col-md-4 fa fa-search-plus fa-2x"></div>
            </div>
            <div class="roundbutton zoom2">
              <div class="col-md-4 fa fa-search-minus fa-2x"></div>
            </div>-->
               <div class="roundbutton countppt"><span class="cont"><%=event.ultimate_ppt + 1%></span>/<%=@count%></div>
              
            </div>
         </div>
      </div>
   </div>
   <%if @event.has_chat%>
    <div class="chat">
     <div class="chat-body">
            <div class="chat-msgs">
        <%if @chat.count != 0%>    
            <% @chat.each do |chat|%>
            <p style="padding:5px 5px 0px 5px;margin-bottom:0px"><span style="font-weight:bold;font-size:12px;"><%=chat.name%> </span><span style="font-size:10px;color:gray"><%=get_date_hora(chat.date_time)%></span><br><span style="font-size:12px;"><%=chat.message%></span></p>
            <%end%>
            <%end%> 
            </div>
            <br>
           <div class="chat-form">
                <%= form_tag cardinalchat_path, method: :post, remote:true do %>
                <%= text_area_tag :msg , nil, class:"form form-control msg-box" %>
                <%= hidden_field_tag :id , @event.id%>
                <%= hidden_field_tag :name , current_viewer.name if current_viewer%><br>
                <p class="text-right"><%= submit_tag "Enviar" , class: "btn btn-primary send-chat"%></p>
        <%end%> 
     </div>
     </div>

     <button type="" class="btn btn-primary btn-chat" style="width:300px">Abrir Chat</button>
   </div><%end%>
    <div class="row">
   <div class="col-md-12 fixeddown">
     
    <!--  <div class="col-md-3 hidden-xs" ">
        <p  style="border-right: 1px solid gray;    margin-top: 3px;"><%= @event.name%><br><span style="font-size: 10px;"><%= get_date(@event.event_date)%></span></p>

      </div>
            <div class="col-md-9 hidden-xs">
        <% @event.event_files.each do |event|%>
        <%= link_to "#{event.name}", event.attachment_url, class: "document"%>
        <%end%>

      </div>-->
      <div class="col-md-12 middle-div no-float" style="padding-left:0px !important;bottom:0px;background:#424242;text-align:center;margin-top:5px;">
         <a href="http://iptics.com.co/productos/cardinalstream/" target="_blank"><img src="../../images/logo.png"></a>
      </div>
   </div>
  
</div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104389816-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-104389816-1');
</script>
<script >
   $(document).on('turbolinks:load',function() {


  
    
   
    $('.cerrar').click(function(){
    $('#collapseExample1').fadeOut();
   })

      $('.form-toggle').click(function(){
    $('#collapseExample1').fadeToggle();
   })
   
                  $('.i1').addClass("activeon");
              
              $('.pad').click(function(){
                      $('.pad').children('img').removeClass("activeon");
                      $(this).children('img').addClass("activeon");
                      $('#ppts img').attr('src', $(this).children('img').attr("src"));
   
                  
                  $('.cont').text($(this).children('div').text());
                  }); 
   
                    $('.fullbuttonppt').click(function(){
                      $('.backppt').toggleClass('fullsize');
                      $('.ppt-block').toggleClass('mtop');
                       $('.zoom1').toggle();
                       $('.zoom2').toggle();
                       $('.ppt-block img').toggleClass('imagchange');
                       console.log("si");
          
        });
   
   
   
          }); 
              

   
   
   
</script>
<script >
   $(document).on('turbolinks:load',function() {

  
  if ("<%=action_name%>" == "portal_show")
{
    stream = "http://aletacloud.com:1935/live/meals_160p/playlist.m3u8";
}
else
{

  stream = "http://aletacloud.com:1935/live/<%=@event.name_stream%>_160p/playlist.m3u8";

}

   WowzaPlayer.create('playerElement',
      {
      "license":"PLAY1-bUNUh-4hRxb-AThrj-YaHnC-KY8D3",
      "title":"",
      "description":"",
      "sourceURL": stream,
      "autoPlay":true,
      "volume":"75",
      "mute":false,
      "loop":false,
      "audioOnly":false,
      "uiShowQuickRewind":true,
      "uiQuickRewindSeconds":"30"
      }
   );
   
   
   
   
   
   
   
      var myPlayer = WowzaPlayer.get('playerElement');

   



        }); 
                
   
</script>
<style>
.document:hover
{
  text-decoration: none
}
.document 
{
         font-size: 12px;
    padding: 10px;
    border: 3px solid #2b772b;
    background: rgba(119, 119, 119, 0.43);
    position: relative;
    margin-right: 10px;
    top: 17px;
    color: white;
}
   .fixeddown
   {
   height: auto;
   }
   .logoblock {
   background: #fff;
   height: 7em;
   background-image: url(<%=@account.logo_url%>);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100%;
   }
   .fullsize
   {
   position: fixed!important;
   width: 100vw!important;
   min-height: 100vh!important;
   top: 0!important;
   left: 0!important;
   z-index: 1030!important;
   background: #000;
   text-align: center;
   }
  .imagchange {
    width: 80% !important;
    margin-left: 10%;
}
   .mtop
   {
    margin-top: 20px !important;
   }
   .activeoff
   {
   border: none !important;
   opacity: 0.3 !important;
   }
   .activeon
   {
   border:2px solid red !important;
   opacity: 1 !important;
   }
   .but
   {
   padding: 8px;
   border-radius: 26px;
   border: none;
   background: #565656;
   font-size: 20px;
   color: white;
   width: 45px;
   }
   .roundgif {
   border: 2px solid #cb8509;
   width: 4em;
   height: 4em;
   -webkit-border-radius: 5em;
   -moz-border-radius: 5em;
   border-radius: 5em;
   margin: auto;
   padding: 0;
   overflow: hidden;
   background: #000;
   }
   .roundgif img {
   width: 150%;
   margin-left: -22%;
   }
   .ppt-block {
   margin-right: 2em;
   margin-left: 1em;
   margin-top: 70px;
   }
    #ppts {
   width: 95% !important;
   margin-left: 0px;
   }

   }
   #playerElement img
   {
   width: 100px;
   position: absolute;
   z-index: 100;
   top: 90px;
   }
   .form-control {
   display: block;
   width: 100%;
   height: 26px;
   }
   .form-group {
   margin-bottom: 9px;
   }
   .logo
  {
    height: 80px;
    background: white;
    padding: 0px 0px 0px 0px;
  }
  .logo img
  {
    width: 162px;
  }
    .name
  {
    height: 80px;
    background: <%=event.color%>;
    padding: 10px 0px 0px 20px;
 
  }
  .name p
  {
    color: <%=event.backgroud_font%>;
  }
     .social
  {
    height: 80px;
    background: <%=event.color%>;
    padding: 10px 0px 0px 0px; 
  }
   .blockhead
    {
  padding-left: 0px!important; 
      padding: 0px;
          
  background: none !important;
  }
  .viewer_salir
  {
    color: white;
    border: 2px solid white;
    padding: 2px 16px;
    border-radius: 9px;
    margin-left: 10px;
    font-size: 16px
  }
   .viewer_salir:hover
  {
    color: white;
    border: 2px solid white;
    padding: 2px 16px;
    border-radius: 9px;
    margin-left: 10px;
    font-size: 16px
  }
  .alert1
  {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .alert-info1 {
    background-color: rgba(8, 8, 8, 0.88);
    border-color: #bce8f1;
    color: white;
}

  .chat {
 
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index:10;

}
.chat-body
{
  padding:10px;
  height: 400px;
  width:300px;
  background: white; 
  display: none;
}
.chat-msgs
{
  height: 65%;
  border: 1px solid gray;
  max-height: 65%;
  overflow-y: auto;

}
.right-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0.8em;
    width: 5em;
    text-align: center;
}
 @media only screen and (max-width:992px) {
   .ppt-block{
   background-color: lightblue;
   margin-right: 0em;
   margin-left: 0em; margin-top: 10px;
   }
   .ppt-block img {
   width: 100%;
   }
   .roundgif{
   width: 10em;
   height: 10em;
   }
   .fixeddown
   {
   height:auto;    
   }
   .backppt {
   
    margin-bottom: 30px;
   height:auto !important;
   padding-left: 15px !important;
   }
   .pp
   {
   text-align: center;
   margin-top: 10px;
   }
   #ppts {
   width: 100% !important;
   }
   #playerElement 
   {
   margin-top: 0px !important;
   }
   .alert-info1
   {
    text-align: center;
   }
     .name
  {

    margin-bottom: 10px;
    height: 40px !important;
  }
  .name p
  {

    font-size: 12px !important;
  }
  .chat {
 
  
  bottom: 0px;
 

}
.msg-inicio span
{

  top:0px !important;
  font-size: 10px !important;
}
}
@media only screen and (max-width:392px) {
   
      #playerElement
      {
          

      }

   }

}</style>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>
   // Enable pusher logging - don't include this in production
  
   
   var pusher = new Pusher('194f0bfe827f047fcf64', {
     cluster: 'us2',
     encrypted: true
   });
   
   var channel = pusher.subscribe('my-channel');
   channel.bind('my-event', function(data) {
    a = data.message
   
   
      setTimeout(function(){
       console.log(data.message);
    $('.img-responsive').attr("src", a[0]);
    c = ".i" + (a[1] +1)
    $('.tumb').addClass("activeoff"); 
    $('.tumb').removeClass("activeon");
   
    $(c).addClass("activeon");
    $(c).removeClass("activeoff");
   
       }, 0);
     
   
   
   
   });
   
     /*   var channel = pusher.subscribe('my-channel-msg');
   channel.bind('msg', function(data) {
    a = data.message
    $('.msg strong').html(a);
    $('.msg').fadeIn();

 setTimeout(function(){   

  $('.msg').fadeOut();
      
     
}, 6000);






   
   
   
   });*/




  var channel = pusher.subscribe('chat');
   channel.bind('msg', function(data) {
    a = data.message;
       if (a[2] == <%=event.id%>){ 
        $('.chat-msgs').append("<p style='padding:5px;margin:0px'><span style='font-weight:bold;font-size:12px;''>" + a[3] + "</span><span style='font-size:10px;color:gray'>" + a[1] + "</span><br><span style='font-size:12px;'>"+ a[0] + "</span></p>");
         $('.chat-msgs').scrollTop($('.chat-msgs').prop("scrollHeight"));
       }
 
     });

$(document).on('turbolinks:load',function() {

     $('.chat-body').keypress(function (e) {
  if (e.which == 13) {
    $('.send-chat').click();
    return false;  
    
  }
});
   
       $('.btn-chat').click(function(){
              $('.chat-body').fadeToggle();
               $('.chat-msgs').scrollTop($('.chat-msgs').prop("scrollHeight"));

            })
     });
</script>

