<% edate = get_date_array(event.event_date)%>
<div class="container-fluid">
  <div class="row">
     <div class="col-md-12 blockhead ">
         <div class="col-md-2 logo text-center">
            <img src="<%=@account.logo_url%>" alt="">
         </div>
         <div class="col-md-6 name">
            <p style="    font-size: 16px;"><%= event.name.upcase%><br><span  class="hidden-xs hidden-sm" style="font-size: 15px;"><%=edate[0]%> DE <%=edate[2]%> DE <%=edate[4]%></span></p>
         </div>
         <div class="col-md-4 social hidden-sm hidden-xs">
            <div class="redessociales" style="float:right;padding:0 2em;line-height: 2em;background: none;right: -0.7em;font-size: 1.7em;padding: 0;padding-right: 1.7em;margin-bottom: -0.8em;margin-top: -0.46em;">
              <%if event.social%>

                <%if !@account.facebook.blank?%>
               <a href="<%=@account.facebook%>" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
               <%end%>
               <%if !@account.twitter.blank?%>
               <a href="<%=@account.twitter%>" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
               <%end%>
             <%if !@account.instagram.blank?%>
               <a href="<%=@account.instagram%>" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
               <%end%>
                <%if !@account.linkedin.blank?%>
               <a href="<%=@account.linkedin%>" target="_blank"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
               <%end%>
                 <%end%>
               <%= (link_to "Salir", logout_path(event.id), method: :delete, class: "viewer_salir") if event.has_register %>
             
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div id="playerElement" style="width:100%;height:400px;margin-top:<%=event.account.questions ? '30px' : '90px'%>">
         </div>

      </div>
      <div class="col-md-6">
         <div class="backppt col-md-12 no-float">
         <%if event.has_question%>
         
         <div style="margin-top:5px">
            
         <a class="form-toggle" role="button" data-toggle="collapse" href="" aria-expanded="false" aria-controls="collapseExample"><img style = "width:50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Gtk-dialog-question.svg/120px-Gtk-dialog-question.svg.png" alt="">

</a></div>


         

         <div id="collapseExample1" class="col-md-8 collapse" style= "display:none;position:absolute;z-index:10;padding: 9px;background: #313030;margin-top:5px">
            <%= form_tag create_question_path, method: :post, remote:true do%>
            <div class="col-md-6">
               <div class="form-group">
                  <%= label_tag "Nombre" %>
                  <%= text_field_tag :name , nil, class: "form form-control" %>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <%= label_tag "Email" %>
                  <%= text_field_tag :email , nil, class: "form form-control" %>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                  <%= label_tag "Pregunta" %>
                  <%= text_area_tag :description ,nil, class: "form form-control erase", style:"height:100px" %>
               </div>
            </div>
            <%= hidden_field_tag :account_id , event.account_id%>
            <%= hidden_field_tag :event_id , event.id%>
             <%= hidden_field_tag :type , "video"%>

            <div class="col-md-3" >
               <%= submit_tag "Enviar", class: "btn btn-primary"%>
            </div>
            <div class="col-md-9" >
               <div class="alert alert-success" style="margin-top:5px;display:none">
                  Tu pregunsta se envio con exito.
               </div>
            </div>
            <%end%>
         </div>
         <%end%>
            <div class="ppt-block">
               <div class="ppt_cont">
                  <div class="wrapppt" style="max-width: 555.4px; height: 416.55px; background: rgb(50, 50, 50);">
                     <div id="ppts" style="opacity: 1;">
                        <div id="controls">
                           <div class="nextbutt">&gt;</div>
                           <div class="prevbutt">&lt;</div>
                        </div>
                        <img class = "imagensup img-responsive" src="<%=array[0]%>" style="height: auto;">
                     </div>
                  </div>
               </div>
            </div>
                
            <style>.wrapppt{max-width:100%!important;background:none!important;height:auto!important;}#ppts{float:none!important;margin:auto;}#scrollbar1{width:100%}</style>
            <div class="right-bar hidden-sm hidden-xs">
               <div class="roundbutton fullppt fullbuttonppt">
                  <div class="col-md-4 fa fa-expand fa-2x"></div>
               </div>
                          <!-- class="roundbutton zoom1">
              <div class="col-md-4 fa fa-search-plus fa-2x"></div>
            </div>
            <div class="roundbutton zoom2">
              <div class="col-md-4 fa fa-search-minus fa-2x"></div>
            </div>-->
               <div class="roundbutton countppt"><span class="cont">1</span>/<%=@count%></div>
               <div id="scrollbar1">
                  <div class="scrollbar">
                     <div class="track">
                        <div class="thumb">
                           <div class="end"></div>
                        </div>
                     </div>
                  </div>
                  <div class="viewport" style = "background:#323232">
                     <div class="overview">
                        <% a = 1;
                           array.each do |elemento|%>
                        <div class = "pad">
                           <div class = "numeral n<%=a%>"><%=a%></div>
                           <img id = "<%=a%>" class = "i<%=a%> tumb" src = "<%=elemento%>">
                        </div>
                        <%a = a +1
                           end%>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <div class="row">
   <div class="col-md-12 fixeddown">
      <div class="col-md-3">
        <p  style="border-right: 1px solid gray;    margin-top: 3px;"><%= @event.name%><br><span style="font-size: 10px;"><%= get_date(@event.event_date)%></span></p>

      </div>
            <div class="col-md-9">
        <% @event.event_files.each do |event|%>
        <%= link_to "#{event.name}", event.attachment_url, class: "document"%>
        <%end%>

      </div>
      <div class="col-md-12 middle-div no-float" style="padding-left:0px !important;bottom:0px;background:#424242;text-align:center;float:left;margin-top:5px;">
         <a href="http://iptics.com.co/productos/cardinalstream/" target="_blank"><img src="http://cardinalstream.com/wordpress/cardinalstream/foot_cardinal.png"></a>
      </div>
   </div>
  
</div>
</div>
<script >
   $(document).on('turbolinks:load',function() {
   
      $('.form-toggle').click(function(){
    $('#collapseExample1').fadeToggle();
   })
   
                  $('.i1').addClass("activeon");
              
              $('.pad').click(function(){
                      $('.pad').children('img').removeClass("activeon");
                      $(this).children('img').addClass("activeon");
                      $('#ppts img').attr('src', $(this).children('img').attr("src"));
   
                  
                  $('.cont').text($(this).children('div').text());
                  }); 
   
                    $('.fullbuttonppt').click(function(){
                      $('.backppt').toggleClass('fullsize');
                      $('.ppt-block').toggleClass('mtop');
                       $('.zoom1').toggle();
                       $('.zoom2').toggle();
                       console.log("si");
          
        });
   
   
   
          }); 
              
   
   
   
   
</script>
<script >
   $(document).on('turbolinks:load',function() {
   
      
   WowzaPlayer.create('playerElement',
      {
      "license":"PLAY1-bUNUh-4hRxb-AThrj-YaHnC-KY8D3",
      "title":"",
      "description":"",
      "sourceURL":"http://aletacloud.com:1935/live/fabricato/playlist.m3u8",
      "autoPlay":true,
      "volume":"75",
      "mute":false,
      "loop":false,
      "audioOnly":false,
      "uiShowQuickRewind":true,
      "uiQuickRewindSeconds":"30"
      }
   );
   
   
   
   
      var myPlayer = WowzaPlayer.get('playerElement');
   
        }); 
                
   
</script>
<style>
.document:hover
{
  text-decoration: none
}
.document 
{
         font-size: 12px;
    padding: 10px;
    border: 3px solid #2b772b;
    background: rgba(119, 119, 119, 0.43);
    position: relative;
    margin-right: 10px;
    top: 17px;
    color: white;
}
   .fixeddown
   {
   height: auto;
   }
   .logoblock {
   background: #fff;
   height: 7em;
   background-image: url(<%=@account.logo_url%>);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100%;
   }
   .fullsize
   {
   position: fixed!important;
   width: 100vw!important;
   min-height: 100vh!important;
   top: 0!important;
   left: 0!important;
   z-index: 1030!important;
   background: #000;
   text-align: center;
   }
   .mtop
   {
    margin-top: 20px !important;
   }
   .activeoff
   {
   border: none !important;
   opacity: 0.3 !important;
   }
   .activeon
   {
   border:2px solid red !important;
   opacity: 1 !important;
   }
   .but
   {
   padding: 8px;
   border-radius: 26px;
   border: none;
   background: #565656;
   font-size: 20px;
   color: white;
   width: 45px;
   }
   .roundgif {
   border: 2px solid #cb8509;
   width: 4em;
   height: 4em;
   -webkit-border-radius: 5em;
   -moz-border-radius: 5em;
   border-radius: 5em;
   margin: auto;
   padding: 0;
   overflow: hidden;
   background: #000;
   }
   .roundgif img {
   width: 150%;
   margin-left: -22%;
   }
   .ppt-block {
   margin-right: 6em;
   margin-left: 1em;
   margin-top: 70px;
   }
    #ppts {
   width: 95% !important;
   margin-left: 0px;
   }
   @media only screen and (max-width:992px) {
   .ppt-block{
   background-color: lightblue;
   margin-right: 0em;
   margin-left: 0em;
   }
   .ppt-block img {
   width: 100%;
   }
   .roundgif{
   width: 10em;
   height: 10em;
   }
   .fixeddown
   {
   height:28em;    
   }
   .backppt {
   position: relative;
   height:auto !important;
   padding-left: 15px !important;
   }
   .pp
   {
   text-align: center;
   margin-top: 10px;
   }
   #ppts {
   width: 100% !important;
   }
   #playerElement 
   {
   margin-top: 0px !important;
   }
   }
   #playerElement img
   {
   width: 100px;
   position: absolute;
   z-index: 100;
   top: 90px;
   }
   .form-control {
   display: block;
   width: 100%;
   height: 26px;
   }
   .form-group {
   margin-bottom: 9px;
   }
   .logo
  {
    height: 70px;
    background: white;
    padding: 0px 0px 0px 0px;
  }
  .logo img
  {
    width: 162px;
  }
    .name
  {
    height: 70px;
    background: rgba(39, 39, 39, 0.83);
    padding: 10px 0px 0px 20px;

  }
  .name p
  {
    color: white;
  }
     .social
  {
    height: 70px;
    background: rgba(39, 39, 39, 0.83);
    padding: 10px 0px 0px 0px; 
  }
   .blockhead
    {
  padding-left: 0px!important; 
      padding: 0px;
          
  background: none !important;
  }
  .viewer_salir
  {
    color: white;
    border: 2px solid white;
    padding: 2px 16px;
    border-radius: 9px;
    margin-left: 10px;
    font-size: 16px
  }
   .viewer_salir:hover
  {
    color: white;
    border: 2px solid white;
    padding: 2px 16px;
    border-radius: 9px;
    margin-left: 10px;
    font-size: 16px
  }
</style>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>
   // Enable pusher logging - don't include this in production
   Pusher.logToConsole = true;
   
   var pusher = new Pusher('194f0bfe827f047fcf64', {
     cluster: 'us2',
     encrypted: true
   });
   
   var channel = pusher.subscribe('my-channel');
   channel.bind('my-event', function(data) {
    a = data.message
   
   
      setTimeout(function(){
       console.log(data.message);
    $('.img-responsive').attr("src", a[0]);
    c = ".i" + (a[1] +1)
    $('.tumb').addClass("activeoff"); 
    $('.tumb').removeClass("activeon");
   
    $(c).addClass("activeon");
    $(c).removeClass("activeoff");
   
       }, <%=event.delay * 1000%>);
     
   
   
   
   });
   
   
   
   
</script>