
    <div style="display: none">
      
        <%= form_tag import_stats_path, multipart: true do %>
  <div class = "col-md-12 text-right">
  <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
  <label for="file"><i class="fa fa-upload" aria-hidden="true"></i>

 <span>Adjuntar</span></label>
  <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %>
</div>

<% end %>
    </div>

      <div class = "row title-table">
         <div class = "col-md-12">
            <p style="font-size:40px;margin-left:30px;color:#187191"">Estadisticas</p>
         </div>
   
      </div>
<div class="row" style="    padding: 10px;">

   <div class="col-md-4">
      <div class="row" style="margin-left: 10px;padding: 10px;
         background: gainsboro;">
         <div class="col-md-4 text-right">
            <img style = "width:95px" src="https://blog.rankwatch.com/wp-content/uploads/2017/09/if_calendar-clock_299096-1.png" alt="">
         </div>
         <div class="col-md-8" style="color:gray">
            <span style="font-size:15px;font-weight: bold">Video mas visto</span><br><br>
            <span style="font-size:18px;"><%=@eventm.name%> <span><br>
            <span style="font-size:50px;margin-left: 20px;"><%=@eventm.views %> </span>veces<br>
         </div>
      </div>
      <div class="row" style="margin-left: 10px;margin-top: 10px;">
         <div class="col-md-12" style="padding: 0px">
          
            <div style = "height:200px;max-height: 200px;overflow: auto;">
            <table class="table1">
             <tr>
                  <th colspan="2" class="text-center">EVENTOS VISTAS DE MAYOR A MENOR <%= link_to stats_csv_path(format: "csv") do%>
               <img width="30px;" src="https://appfluence.com/productivity/wp-content/uploads/2017/04/a-csv.png" alt="">
               <%end%></th>
                 
               </tr>
             <tr>
                  <th>Totoal de Vistas</th>
                  <th class="text-center"><%=@events.sum(:views)%></th>
               </tr>
               <tr>
                  <th>Evento</th>
                  <th>Vistas</th>
               </tr>
               <%@events.each do |event| %>
               <tr>
                  <td><%=event.name%></td>
                  <td style="text-align: center;"><%=event.views%></td>
               </tr>
               <%end%>
            </table>
            </div>
           
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <h5 style="margin-left: 10px;padding: 10px;
         background: gainsboro;">DESCARGAR LISTA DE INGRESOS <%= link_to stats_csv_all_path(format: "csv") do%>
               <img width="30px;" src="https://appfluence.com/productivity/wp-content/uploads/2017/04/a-csv.png" alt="">
               <%end%>
      </h5>

      <div class="row">
      <div class="col-md-12">
        <p>VISTAS ENTRE 6AM Y 12AM - <%=@eventph%></p>
        <p>VISTAS ENTRE 1PM Y 6PM - <%=@eventsh%></p>
        <p>VISTAS ENTRE 7PM Y 12PM - <%=@eventth%></p>
        <p>TOTAL - <%=@eventt%></p>
        
      </div>
        
      </div>
   </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" type="text/javascript" charset="utf-8"></script>
<div class="row">
   <div class="col-md-6">
   </div>
</div>
<script>
   var ctx = document.getElementById("myChart");
   var myChart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: [<%@events.each do |event| %>"<%=event.id%>",<%end%>],
   
           datasets: [{
               label: 'Vistas',
               data: [<%@events.each do |event| %>"<%=event.views%>",<%end%>],
               backgroundColor: [
                   
                 <%@events.each do |event| %>'rgba(54, 162, 235, 0.5)',<%end%>
                  
               ],
               borderColor: [
                  <%@events.each do |event| %>'rgba(54, 162, 235, 0.8)',<%end%>
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                      max: 5,
                      min: 0,
                      stepSize: 1
                   }
               }]
           }
       }
   });
</script> 
<style>
   .table1
   {
   width: 100%;
   }
   .table1 th {
   background: gainsboro;
   color: gray;
   padding: 5px;
   border: 1px solid gainsboro;
   }
   .table1 td
   {
   padding: 5px;   
 
   border-bottom:  1px solid #cac5c5;
   color:  gray;
   font-size:12px;
   }
</style>