
    <div style="display: none">
      
        <%= form_tag import_stats_path, multipart: true do %>
  <div class = "col-md-12 text-right">
  <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
  <label for="file"><i class="fa fa-upload" aria-hidden="true"></i>

 <span>Adjuntar</span></label>
  <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %>
</div>

<% end %>
    </div>

      <div class = "row title-table">
         <div class = "col-md-12">
            <p style="font-size:40px;margin-left:30px;color:#187191"">Estadisticas</p>
         </div>
   
      </div>
<div class="row" style="    padding: 10px;">

   <div class="col-md-5">
      <div class="row" style="margin-left: 10px;padding: 10px;
         background: whitesmoke;    border: 1px solid #d0d0d0;
    border-radius: 15px;">
         <div class="col-md-12">
             <h4 style="color:gray">EVENTO MAS VISTO</h4>
         </div>
         <div class="col-md-5 text-right">
            <img style = "width:180px;" src="../../uploads/event/video/<%=@eventm.id%>/screamshot.jpg" alt="...">
            
         </div>
         <div class="col-md-7" style="color:gray">
          
            <span style="font-size:25px;"><%=@eventm.name%> <span><br>
            <span style="font-size:40px;color:gray"><i class="fa fa-eye" aria-hidden="true"></i>
<%=@eventm.views %> </span>
            
         </div>
         <div class="col-md-12">
         <hr>
           
         </div>
           <div class="col-md-12" >
         <h4 style="color:gray">VISTAS SEGUN HORARIOS <img src="https://icon-icons.com/icons2/567/PNG/512/clock_icon-icons.com_54407.png" style = "width:50px;" alt=""></h4>
        <p> ENTRE 6AM Y 12AM - <span style="font-size:20px;"> <i class="fa fa-eye" aria-hidden="true"></i> <%=@eventph%> - <%= @eventph_p%>%</span></p>
        <p> ENTRE 1PM Y 6PM - <span style="font-size:20px;"> <i class="fa fa-eye" aria-hidden="true"></i> <%=@eventsh%> - <%= @eventsh_p%>%</span></p>
        <p> ENTRE 7PM Y 12PM - <span style="font-size:20px;"> <i class="fa fa-eye" aria-hidden="true"></i> <%=@eventth%> - <%= @eventth_p%>%</span></p>
        <p> ENTRE 1AM Y 6AM - <span style="font-size:20px;"> <i class="fa fa-eye" aria-hidden="true"></i> <%=@eventch%> - <%= @eventch_p%>%</span></p>
       
        
      </div>
      </div>
   <div class="row">
    
        
      </div>
   </div>
   <div class="col-md-5">
      <div class="row" style="margin-left: 10px;">
         <div class="col-md-12" style="    background: whitesmoke;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 15px;">
          
            <div style = "height:400px;max-height: 400px;overflow: auto;">
            <table class="table1">
             <tr>
                  <th colspan="2" class="" >EVENTOS VISTAS DE MAYOR A MENOR <%= link_to stats_csv_path(format: "csv") do%>
               <img width="30px;" src="https://appfluence.com/productivity/wp-content/uploads/2017/04/a-csv.png" alt="">
               <%end%></th>
                 
               </tr>
             <tr>
                  <th>Total de Vistas</th>
                  <th class="text-center"><%=@events.sum(:views)%></th>
                  <th class="text-center"><%=@events.sum(:views)%></th>
               </tr>
               <tr>
                  <th>Evento</th>
                  <th class="text-center">Vistas</th>
                   <th class="text-center">Vistas Mitad</th>
               </tr>
               <%@events.each do |event| %>
               <tr>
                  <td><%=event.name%></td>
                  <td style="text-align: center;"><%=event.views%></td>
                    <td style="text-align: center;"><%=event.stats.where(type_stat: 1).count%></td>
               </tr>
               <%end%>
            </table>
            </div>
           
         </div>
      </div>
    
      

     
   </div>
   <div class="col-md-2">
     <h5 style="margin-left: 10px;padding: 10px;
         background: whitesmoke;border: 1px solid #d0d0d0;
    border-radius: 15px;">DESCARGAR LISTA DE INGRESOS <%= link_to stats_csv_all_path(format: "csv") do%>
               <img width="30px;" src="https://appfluence.com/productivity/wp-content/uploads/2017/04/a-csv.png" alt="">
               <%end%>
      </h5>
   </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" type="text/javascript" charset="utf-8"></script>
<div class="row">
   <div class="col-md-6">
   </div>
</div>
<script>
   var ctx = document.getElementById("myChart");
   var myChart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: [<%@events.each do |event| %>"<%=event.id%>",<%end%>],
   
           datasets: [{
               label: 'Vistas',
               data: [<%@events.each do |event| %>"<%=event.views%>",<%end%>],
               backgroundColor: [
                   
                 <%@events.each do |event| %>'rgba(54, 162, 235, 0.5)',<%end%>
                  
               ],
               borderColor: [
                  <%@events.each do |event| %>'rgba(54, 162, 235, 0.8)',<%end%>
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                      max: 5,
                      min: 0,
                      stepSize: 1
                   }
               }]
           }
       }
   });
</script> 
<style>
   .table1
   {
   width: 100%;
   }
   .table1 th {
   background: whitesmoke;
   color: gray;
       font-size: 18px;
   padding: 5px;
   border: 1px solid whitesmoke;
   }
   .table1 td
   {
   padding: 5px;   
 
   border-bottom:  1px solid #cac5c5;
   color:  gray;
   font-size:12px;
   }
</style>