<!DOCTYPE html>
<html>
  <head>
    <title>CardinalStreamV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "admin">
  <%if user_signed_in?%>
  <%= link_to  destroy_user_session_path, :method => :delete,:class => "indicadores" do %>
                           <span class="fa fa-sign-out" style = "color:gray"></span>
                           <span style = "color:gray!important">Cerrar Sesión</span>
                           <% end %>
                         

                           <%= link_to  edit_account_path(get_account),:class => "indicadores" do %>
                           <span class="fa fa-sign-out" style = "color:gray"></span>
                           <span style = "color:gray!important">Editar Cuenta</span>
                           <% end %>
                           <% end %>
    <%= yield %>
  </body>
</html>
