<!DOCTYPE html>
<html>
  <head>
    <title>CardinalStreamV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style>
	
	.portal{
  
    background-image: url(<%=portal_background%>);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
</style>
  <body class= "portal">

    <%= yield %>
  </body>
</html>
