

    <div class="container">
       
   
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p style="font-size:40px;color:#187191;font-weight: bold">Editar Cuenta</p>
         </div>
         <div class="alert alert-danger" style="display:none">
            <ul>
            </ul>
         </div>
         <div class="modal-body">
            <%= form_with(model: account, local: true) do |form| %>
            <% if account.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
               <ul>
                  <% account.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
               </ul>
            </div>
            <% end %>
            <div class="row">
               <!-- <div class="col-md-4">
                 <div class="form-group">
                     <%= form.label "Dominio" %>
                     <%= form.text_field :domain, id: :account_domain, class: "form form-control" %>
                  </div>
               </div>-->
               <div class="col-md-3">
                  <div class="form-group">
                     <%= form.label "Nombre de la Empresa" %>
                     <%= form.text_field :name, id: :account_name , class: "form form-control" %>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <%= form.label :logo %>
                     <%= form.file_field :logo, id: :account_logo, class: "form form-control"  %>
                  </div>
               </div>
                <div class="col-md-3 text-center">
                  <div class="form-group acc1">
                     <label class="radio-inline">
                     <span style = "margin-left:10px;font-weight: bold">¿Cotraseña en el portal?</span><br><%= form.check_box :has_psw, id:"toggle-one" %>
                     </label>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group acc1">
                      <%= form.label "Definir Contraseña" %>
                     <%= form.text_field :psw, id: :account_psw, class: "form form-control" %>
                     </label>
                  </div>
               </div>
            </div>
           <!--  <br>
            <br>
            <hr>

           
            <h3 style = "color:gray">Configuracion para los Eventos  <span style="font-size:12px;">(Esta sera la configuracion por defecto en los Eventos pero en cada uno de ellos la puedes cambiar)</span> </h3><br>
              
           <div class="row" >
            <div class="col-md-4">
                  <div class="form-group acc1">
                     <label class="radio-inline">
                     <%= form.check_box :has_networks, id:"toggle-two"%><span style = "margin-left:10px">Mostrar Redes Sociales</span>
                     </label>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group acc1">
                     <label class="radio-inline">
                     <%= form.check_box :questions, id:"toggle-three" %><span style = "margin-left:10px">Formulario de Preguntas</span>
                     </label>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group acc1">
                     <label class="radio-inline">
                     <%= form.check_box :download_docs, id:"toggle-four" %><span style = "margin-left:10px">Mostrar Descargables</span>
                     </label>
                  </div>
               </div>
               
            </div>-->
            <br>
            <br>
            <hr>
            <h3 style = "color:gray">Redes Sociales por defecto</h3>
             <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <%= form.label "Facebook" %>
                     <%= form.text_field :facebook, id: :account_facebook, class: "form form-control" %>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <%= form.label "Twitter" %>
                     <%= form.text_field :twitter, id: :account_twitter , class: "form form-control" %>
                  </div>
               </div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-6">
                  <div class="form-group">
                     <%= form.label "Instagram" %>
                     <%= form.text_field :instagram, id: :account_instagram, class: "form form-control" %>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <%= form.label "Linkedin" %>
                     <%= form.text_field :linkedin, id: :account_linkedin , class: "form form-control" %>
                  </div>
               </div>

            </div>
            <br>
            <br>
            <hr>
            <h3 style = "color:gray">Fondos</h3>
            <div class="row">
          
              <!-- <div class="col-md-4">
                  <div class="form-group">
                     <%= form.label "Fondo del Home" %>
                     <%= form.file_field :background_portal, id: :account_background_portal , class: "form form-control" %>
                  </div>
               </div>-->
               <div class="col-md-4">
                  <div class="form-group">
                     <%= form.label "Fondo de Transmisión" %>
                     <%= form.file_field :background_stream, id: :account_background_stream, class: "form form-control"  %>
                  </div>
               </div>
            </div><div class="row">
            <div class="col-md-4">
                  <div class="form-group">
                     <%= form.label "Requisitos" %>
                     <%= form.file_field :requisitos, id: :requisitos , class: "form form-control" %>
                  </div>
               </div>
               </div>
            <br><br>

            <div class="actions">
               <%= form.submit "Guardar" , class: "btn btn-primary" %>
              <%=link_to "Cancelar", account_path(@account.id) ,class: "btn btn-default"%>
            </div>
            <% end %>
         </div>
     

 </div>