<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :domain %>
    <%= form.text_field :domain, id: :account_domain %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo, id: :account_logo %>
  </div>

  <div class="field">
    <%= form.label :admin_user %>
    <%= form.number_field :admin_user, id: :account_admin_user %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :account_user_id %>
  </div>

  <div class="field">
    <%= form.label :background_portal %>
    <%= form.text_field :background_portal, id: :account_background_portal %>
  </div>

  <div class="field">
    <%= form.label :background_stream %>
    <%= form.text_field :background_stream, id: :account_background_stream %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :account_name %>
  </div>

  <div class="field">
    <%= form.label :questions %>
    <%= form.check_box :questions, id: :account_questions %>
  </div>

  <div class="field">
    <%= form.label :download_docs %>
    <%= form.check_box :download_docs, id: :account_download_docs %>
  </div>

  <div class="field">
    <%= form.label :chat %>
    <%= form.check_box :chat, id: :account_chat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
