     <div class="row">
          <div class="col-md-6 fecha-info">
            
         
            <div class="col-md-12" >
                 <h3 style="color:#00ccff;font-size: 70px;margin-top:0px;font-family: sans-serif;"><i class="fa fa-user" style="font-size: 70px;margin-right: 20px;" aria-hidden="true"></i><%=@event.viewers.count%></h3>
            </div>
       
    
        </div>
    <div class="col-md-6 fecha-info">
            
         
            <div class="col-md-12" >
                 <h3 style="color:#00ccff;font-size: 70px;margin-top:0px;font-family: sans-serif;"><i class="fa fa-question-circle" style="font-size: 70px;margin-right: 20px;" aria-hidden="true"></i><%=@event.questions.count%></h3>
            </div>
       
    
        </div>
             
         </div>
         <div class="row">
         <div class="col-md-6">
         <h3>Usuarios Registrados</h3>
            
                <table class="table">
                    
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Ciudad</th>
                            <th>Hora de Ingreso</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                     <% @event.viewers.order(date_time: :desc).each do |viewer|%>
                        <tr>
                            <td><%=viewer.name%></td>
                            <td><%=viewer.email%></td>
                            <td><%=viewer.company%></td>
                            <td><%=viewer.date_time%></td> 
                            <td> <%= link_to  delete_viewer_path(viewer.id), method: :delete, data: { confirm: '¿Esta seguro de eliminar?' }  do%>
                              <i class="fa fa-trash fa1" aria-hidden="true"></i>
                            
                              <%end%></td>   
                        </tr>
                    <%end%>
                    </tbody>
                </table>
           
         </div>
           <div class="col-md-6">
              
           <h3>Preguntas</h3>
                <table class="table" >
                    
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Pregunta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @event.questions.order(date_time: :desc).each do |question|%>
                        <tr>
                            <td><%=question.name%></td>
                            <td><%=question.email%></td>
                            <td><%=question.description%></td>
                           <td> <%= link_to  delete_question_path(question.id), method: :delete, data: { confirm: '¿Esta seguro de eliminar?' }  do%>
                              <i class="fa fa-trash fa1" aria-hidden="true"></i>
                              
                              <%end%></td>
                        </tr>
                       <%end%>  
                    </tbody>
                </table>
            
        
         </div>
             
             
         </div>