<script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script>
<div class="container-fluid">
<%= link_to "Ver", portal_show_path(37), class: "btn btn-primary"%>
    <div class="row">

        <div class="col-md-2 blockhead">

        	<p><i class="fa fa-film" aria-hidden="true"></i> Grabacion 
</p>
        </div>
    	<div class="col-md-10 blockhead">
    	    <div class="col-md-8">
    		    <p><%= @event.name.upcase%></p>
    	    </div>
    	    <div class="col-md-4">
    		 <div class="redessociales" style="float:right;padding:0 2em;margin: -0.5em;line-height: 2em;background: none;right: -0.7em;font-size: 1.7em;padding: 0;padding-right: 1.7em;margin-bottom: -0.8em;margin-top: -0.46em;">
						<a href="https://www.instagram.com/textilesfabricato/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
						<a href="https://facebook.com/Fabricato-SA-1706689456298683/ " target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
					</div>
            </div>
    	</div>
    </div>
	<div class="row">

        <div class="col-md-2">
 <div class="logoblock"></div>
        	
        </div>
    	<div class="col-md-10">
    		<div class="backppt col-md-12 no-float">
					<div class="ppt-block">
						<div class="ppt_cont"><div class="wrapppt" style="max-width: 555.4px; height: 416.55px; background: rgb(50, 50, 50);"><div id="ppts" style="opacity: 1;"><div id="controls"><div class="nextbutt">&gt;</div><div class="prevbutt">&lt;</div></div><img  class = "img-responsive" src="<%=@array[0]%>" style="height: auto;"></div></div></div>
					</div>
					<style>.wrapppt{max-width:100%!important;background:none!important;height:auto!important;}#ppts{float:none!important;margin:auto;}#scrollbar1{width:100%}</style>
					<div class="right-bar">
						<div class="roundbutton fullppt fullbuttonppt">
							<div class="col-md-4 fa fa-expand fa-2x"></div>
						</div>
						<div class="roundbutton zoom1">
							<div class="col-md-4 fa fa-search-plus fa-2x"></div>
						</div>
						<div class="roundbutton zoom2">
							<div class="col-md-4 fa fa-search-minus fa-2x"></div>
						</div>
						<div class="roundbutton countppt"><span class="cont">1</span>/<%=@count%></div>
										<div id="scrollbar1">
            <div class="scrollbar"><div class="track"><div class="thumb" style = "height:10px !important"><div class="end"></div></div></div></div>
            <div class="viewport" style = "background:#323232">
                 <div class="overview">

                   <% a = 1;
                    @array.each do |elemento|%>
				     
					  <div class = "pad">
					<div class = "numeral n<%=a%>"><%=a%></div>
                    <img class = "imagent i<%=a%>" src = "<%=elemento%>">
                    
					</div>
					<%a = a +1
					end%>
                </div>
            </div>
        </div>
					
				</div>

				</div>
    	</div>

    </div>
    	<div class="row">
        <div class="col-md-12 fixeddown">

        	<div id="playerElement" style="width:320px; height:120px; padding:0"></div>
        </div>
    	
    </div>

</div>


<script type="text/javascript">
WowzaPlayer.create('playerElement',
    {
    "license":"PLAY1-94nX9-WjkJY-fwhpz-Cd8aA-9wmMD",
    "title":"",
    "description":"",
    "sourceURL":"http%3A%2F%2Fceipa.cardinalstream.com%3A1935%2Flive%2Ftest%2Fplaylist.m3u8",
    "autoPlay":false,
    "volume":"75",
    "mute":false,
    "loop":false,
    "audioOnly":true,
    "uiShowQuickRewind":true,
    "uiQuickRewindSeconds":"30"
    }
);
</script>



<script >
 $(document).ready(function(){
 
				$('.i1').css("border","2px solid red");
				$('.i1').css("opacity","1");
			    $('.pad').click(function(){
				$('.pad').children('img').css("opacity","0.3");
				$('.pad').children('img').css("border","none");
				$(this).children('img').css("border","2px solid red");
				$(this).children('img').css("opacity","1");
				$('#ppts img').attr('src', $(this).children('img').attr("src"));

				
                $('.cont').text($(this).children('div').text());
				});	

      $('.fullbuttonppt').click(function(){
        $('.backppt').toggleClass('fullsize');
         $('.zoom1').toggle();
         $('.zoom2').toggle();
        console.log("si")
        
      });
      $('.quitar').click(function(){
        $('.ppt_cont').removeClass('fullsize');
        console.log("si")
        
      });
            
});
</script>

<style>
body

.logoblock {
    background: #fff;
    height: 7em;
    background-image: url(<%=@account.logo_url%>);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
    .fullsize
  {
      position: fixed!important;
    width: 100vw!important;
    min-height: 100vh!important;
    top: 0!important;
    left: 0!important;
    z-index: 1030!important;
    background: #000;
    text-align: center;
  
  }
  
</style>

  
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('194f0bfe827f047fcf64', {
      cluster: 'us2',
      encrypted: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
     a = data.message
     console.log(data.message);
     $('.img-responsive').attr("src", a[0]);
     c = ".i" + (a[1] +1)
    $('.imagent').css("opacity","0.3");
     $('.imagent').css("border","none");
     $(c).css("border","2px solid red");
     $(c).css("opacity","1");

    });
  </script>



