<div class="container-fluid">

    <div class="row">

        <div class="col-md-2 blockhead">

        	<p><i class="fa fa-film" aria-hidden="true"></i> Grabacion 
</p>
        </div>
    	<div class="col-md-10 blockhead">
    	    <div class="col-md-8">
    		    <p><%= @event.name.upcase%></p>
    	    </div>
    	    <div class="col-md-4">
    		 <div class="redessociales" style="float:right;padding:0 2em;margin: -0.5em;line-height: 2em;background: none;right: -0.7em;font-size: 1.7em;padding: 0;padding-right: 1.7em;margin-bottom: -0.8em;margin-top: -0.46em;">
						<a href="https://www.instagram.com/textilesfabricato/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
						<a href="https://facebook.com/Fabricato-SA-1706689456298683/ " target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
					</div>
            </div>
    	</div>
    </div>
	<div class="row">

        <div class="col-md-2">
 <div class="logoblock"></div>
        	
        </div>
    	<div class="col-md-10">
    		<div class="backppt col-md-12 no-float">
					<div class="ppt-block">
						<div class="ppt_cont"><div class="wrapppt" style="max-width: 555.4px; height: 416.55px; background: rgb(50, 50, 50);"><div id="ppts" style="opacity: 1;"><div id="controls"><div class="nextbutt">&gt;</div><div class="prevbutt">&lt;</div></div><img src="<%=@array[0]%>" style="height: auto;"></div></div></div>
					</div>
					<style>.wrapppt{max-width:100%!important;background:none!important;height:auto!important;}#ppts{float:none!important;margin:auto;}#scrollbar1{width:100%}</style>
					<div class="right-bar">
						<div class="roundbutton fullppt">
							<div class="col-md-4 fa fa-expand fa-2x"></div>
						</div>
						<div class="roundbutton zoom1">
							<div class="col-md-4 fa fa-search-plus fa-2x"></div>
						</div>
						<div class="roundbutton zoom2">
							<div class="col-md-4 fa fa-search-minus fa-2x"></div>
						</div>
						<div class="roundbutton countppt"><span class="cont">1</span>/<%=@count%></div>
										<div id="scrollbar1">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport" style = "background:#323232">
                 <div class="overview">

                   <% a = 1;
                    @array.each do |elemento|%>
				     
					  <div class = "pad">
					<div class = "numeral n<%=a%>"><%=a%></div>
                    <img class = "i<%=a%>" src = "<%=elemento%>">
					</div>
					<%a = a +1
					end%>
                </div>
            </div>
        </div>
					
				</div>

				</div>
    	</div>

    </div>
    	<div class="row">
        <div class="col-md-12 fixeddown">

        	
        </div>
    	
    </div>

</div>






<script >
 $(document).ready(function(){
 $('#scrollbar1').tinyscrollbar();
				$('.i1').css("border","2px solid red");
				$('.i1').css("opacity","1");
			$('.pad').click(function(){
					$('.pad').children('img').css("opacity","0.3");
					$('.pad').children('img').css("border","none");
					$(this).children('img').css("border","2px solid red");
					$(this).children('img').css("opacity","1");
					$('#ppts img').attr('src', $(this).children('img').attr("src"));

				
                $('.cont').text($(this).children('div').text());
				});	


            
});
</script>

<style>
.logoblock {
    background: #fff;
    height: 7em;
    background-image: url(<%=@account.logo_url%>);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
  
</style>