
<div class="container-fluid">
  

   <div class="row">
      <div class="col-md-12 blockhead ">
       <div class="col-md-3 ">
         <img src="<%=@account.logo_url%>" alt="">
      </div>
     
         <div class="col-md-6">
            <p></p>

         </div>
         <div class="col-md-3 hidden-xs">
            <div class="redessociales" style="float:right;padding:0 2em;margin: -0.5em;line-height: 2em;background: none;right: -0.7em;font-size: 1.7em;padding: 0;padding-right: 1.7em;margin-bottom: -0.8em;margin-top: -0.46em;">
               <a href="https://www.instagram.com/textilesfabricato/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
               <a href="https://facebook.com/Fabricato-SA-1706689456298683/ " target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
            </div>
         </div>
      </div>
   </div>
<br><br>
<div class="row eventos">
<%@events.each do |event|%>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%if !event.event_type%>
      <img src="../../uploads/event/video/<%=event.id%>/screamshot.jpg" alt="...">
    <%else%>
      <img src="../../images/audio.jpg" alt="...">
    <%end%> 
      <div class="caption">
        <h5><%= event.name%></h5>
        <%if event.event_type %>
        <p><%= link_to "Ver", portal_show_path(event.id), class: "btn btn-primary"%></p>
          <%else%>
          <p><%= link_to "Ver", portal_show_video_path(event.id), class: "btn btn-primary"%></p>
          <%end%>
        
      </div>
    </div>
  </div>
  <%end%>
</div>
</div>

<style>
.eventos img {
    width: 200px;
    height: 130px;
}
.blockhead
{

    background: white;
    color: #fff;
    padding: 20px 0px 15px 0px;
    text-transform: uppercase;
}

</style>


