
<%if @psw || !@account.has_psw%>
<div class="container-fluid">
  

  <div class="row">
      <div class="col-md-12 blockhead ">
       <div class="col-md-2 logo text-center">
         <img src="<%=@account.logo_url%>" alt="">
      </div>
     
         <div class="col-md-6 name">
           
           <%= link_to "INICIO", home_path, data: { turbolinks: false } %>
            <%= link_to "TRANSMISIONES EN VIVO", home_path, style: "margin-left:20px;margin-right:20px;" %>
            <%= link_to "GALERIA DE VIDEOS", home_path, class: "btn btn-primary" , style: "border: 1px solid #{@account.color_one} !important;"%>
            
        </div>
          <div class="col-md-4 social hidden-sm hidden-xs">
           <%= form_tag portal_path, :method => 'get'  do %>
              <%= text_field_tag :search, params[:search], style: "height: 33px;
    border-radius: 5px;color:gray"%>
          <%= submit_tag "Buscar", class: "btn btn-primary", style: "border-color: 1px solid #{@account.color_one} !important;",:name => nil   %>
        <% end %>
         </div>
      </div>
   </div>
<br><br>
<div class="row eventos" style="<%= 'margin-bottom: 300px' if @events.count <= 3%>">
<%@events.each do |event|%>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%if !event.event_type%>
     <%= link_to  portal_show_path(event.id) do %>
      <img src="../../uploads/event/video/<%=event.id%>/screamshot.jpg" alt="...">
      <%end%>
    <%else%>
    <%= link_to  portal_show_path(event.id) do %>
      <img src="../../images/audio.jpg" alt="...">
      <%end%>
    <%end%> 
      <div class="caption">
        <h5 style= "color:gray"><%= event.name%></h5>


        
        <div class="row">
          <div class="col-md-4">
                   <%= link_to "Ver", portal_show_path(event.id), class: "btn btn-primary" , style: "border-color: 1px solid #{@account.color_one} !important;", data: { turbolinks: false }%>
          </div>
          <div class="col-md-8 text-right views-event">
            <p><i class="fa fa-eye" aria-hidden="true"></i> <%=event.stats.count%>
</p>
          </div>
        </div>

        
      </div>
    </div>
  </div>
  <%end%>
</div>
</div>
<%else%>
<div class="row" >
      <div class="col-md-12 blockhead ">
       <div class="col-md-2 logo text-center">
         <img src="<%=@account.logo_url%>" alt="">
      </div>
     
         <div class="col-md-6 name">
          <%= link_to "INICIO", home_path, data: { turbolinks: false } %>
            <%= link_to "TRANSMISIONES EN VIVO", home_path %>
            <%= link_to "GALERIA DE VIDEOS", home_path, class: "btn btn-primary" %>

         </div>
          <div class="col-md-4 social hidden-sm hidden-xs">
     
         </div>
      </div>
   </div>
<div class="row" style="margin-bottom: 200px;">
<br>

<div class="col-md-4 col-md-offset-4" style="margin-top:150px;">
 <p>Este contenido es restringido. Para ingresar escriba la contraseña a continuación:
</p>
   <%= form_tag portal_login_path, method: :post do %>
    <%= text_field_tag :cookie , nil, style: "    height: 34px;", placeholder: "Ingrese contraseña"%>
    <%= submit_tag "Ingresar", class: "btn btn-primary",  style: "border-color: 1px solid #{@account.color_one} !important;"%>
 <%end%>
</div>
  
</div>

<%end%>

<style>
.views-event p
{
     font-size: 25px;
    color: #b1b1b1;

}
.eventos img {
    width: 250px !important;
    height: 150px !important;
}
  .blockhead
    {
  padding-left: 0px!important; 
      padding: 15px 0px 0px 0px;
          
  background: white !important;
  }
   .logo
  {
    height: 80px;
    background: white;
    padding: 0px 0px 0px 0px;
  }
  .logo img
  {
    width: 162px;

  }
    .name
  {
    height: 80px;
    padding: 10px 0px 0px 20px;
   background: white;
  }
  .name p
  {
    font-weight: bold;
  }
     .social
  {

    height: 80px;
    background: white;
    padding: 10px 0px 0px 0px; 
  }
  .thumbnail {

    max-height: 300px;
    height: 300px;
}

.thumbnail h5 {

font-size: 14px;
    max-height: 50px;
    height: 50px;
    overflow: hidden;
  }
  
  a
   {
    color: #8b8b8b;
    text-decoration: none;
    
    font-weight: bold;
}


.btn-primary
{

     background: <%=@account.color_one%> !important;
     border: 1px solid <%=@account.color_one%> !important;
    color: white !important;
}
</style>


