<% edate = get_date_array(@event.event_date)%>
<div class="container-fluid event-info ">
    <div class="row" >

       
             <div class="col-md-2">
      <h4><%=image_tag @event.account.logo_url, style: "width:200px"%></h4>
            
        </div>
          <div class="col-md-1">
        <h4><img style = "width:100px" src="../../images/live.png" alt=""></h4>
            
        </div>
        <div class="col-md-9" style = "padding-left:50px;">
           
            <h3><%=@event.name%></h3>
            <h4><%=edate[0]%> de <%=edate[2]%> de <%=edate[4]%>, <%=edate[5]%></h4> 
        	 
        </div>

        <div class="col-md-12">
        <hr>
        	
        </div>
         </div>
         <div class="stats">
                  <%= render partial: "stats" %>

         </div>

         
        
	
</div>

<style>

.event-info
{
	color:gray;
}
.fecha-info	
{
	border-right: 1px solid gray;
}
</style>

<script>
    
    function get_stats(){


   
    $.get("get_statics/" + <%=@event.id%> , function(e){

        console.log("hola");
        $('.stats').html(e)
    })
}

    setInterval(get_stats, 10000);
</script>