
<div class="container-fluid">
  

<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>

<div class = "row title-table">
   <div class = "col-md-10">
      <p >Empresa</p>
   </div>
   
</div>
<hr class = "hr">
<div class="row show-user company" >
   <div class="col-md-4">
      <%= @account1.logo? ? image_tag(@account1.logo_url(:medium)) : ""  %>
      <div class="col-md-10 col-md-offset-1">
         <h2><%= @account1.name %></h2>
         <p><strong>¿Contraseña en el Portal? </strong> <%= @account1.has_psw ? "Si" : "No" %></p>
         <p><strong>Contraseña: </strong> <%= @account1.psw if @account1.psw %></p>
         
        <%= link_to 'Editar', edit_account_path(get_account),remote:true, class: "btn btn-primary" %>
         <%= link_to 'Volver', events_path, class: "btn btn-primary" %>
      </div>
   </div>
   <div class="col-md-8">
   
      

      <div class="col-md-6 cuadro1">
        <p><strong>Fondo del portal</strong></p>
        <p><%= image_tag (@account1.background_stream_url) if @account1.background_stream_url %></p>

      </div>
     

      
     
   </div>
</div>
</div>
<style>
   .cuadro
   {
   color: white;
    /* padding: 5px; */
  
   }
   .cuadro p
   {
   color: #0db497;
   padding-top: 5px;
   font-size: 13px;
   
   }
   .cuadro1 img
   {
      width: 400px;
   }
   .cuadro1
   {
   color: white;
    /* padding: 5px; */

    margin-top: 10px;
   }
   .cuadro1 p
   {
   color: #50aad4;
   padding-top: 5px;
   font-size: 30px;
  
   }
    .fas
   {
   color:white;
   font-size: 30px;
   padding: 15px 0px 0px 0px;
   }
   .pc
   {
   background: whitesmoke;
   }
   .company
   {
    padding-top: 20px;
    padding-bottom: 50px
   }



</style>