
 
<div class="row ">

<div class="col-md-6 col-md-offset-3" style="padding-top: 50px;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class = "row title-table text-center">
         
            <p style="font-size:32px;color:#187191">Editar Usuario</p>
         
   
      </div>


   <div class="col-md-12">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true , :class => 'form-control'%>
  </div>

 
 
   <div class="col-md-6">
    <%= f.label "Nombres" %>
    <%= f.text_field :names, autofocus: true , :class => 'form-control'%>
  </div>

<div class="col-md-6">
    <%= f.label "Apellidos" %>
    <%= f.text_field :last_names, autofocus: true , :class => 'form-control'%>
  </div>

 



<div class="col-md-6">
    <%= f.label "Contraseña" %>
    <% if @minimum_password_length %>
    
    <% end %>
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control'%>
  </div>

<div class="col-md-6">
    <%= f.label "Confirmar Contraseña" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => 'form-control'%>
  </div>

<div class="col-md-6">
    <%= f.label "Contraseña actual" %> <br />
    <%= f.password_field :current_password, autocomplete: "off" , :class => 'form-control'%>
  </div>
   <div class="form-group">
    <%= f.submit "Editar", :class => 'btn btn-primary btn-block is'  %>
  </div>
<% end %>



</div>


   </div>


  <style>
  .alert-devise h2
 {
     font-size: 18px !important;
     text-align: left !important;

 }
   .alert-devise li
 {

     text-align: left !important;

 }
   {       text-align: center;color:#187191;
      font-weight: bold;
}
  .col-md-6, .col-md-12
  {
    margin-bottom: 10px;
  } 
  </style>  }
